In [1]:
from urllib.request  import urlopen
import bs4
import datetime as dt
import pandas as pd
import re
from pandas import Series, DataFrame

In [2]:
index_cd='006400'
page_n=1
naver_index='https://finance.naver.com/item/sise_day.nhn?code=' +index_cd+'&page='+str(page_n)
from urllib.request import urlopen
source=urlopen(naver_index).read()
import bs4
source=bs4.BeautifulSoup(source,'lxml')
print(source.prettify())

<html lang="ko">
 <head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <title>
   네이버 금융
  </title>
  <link href="/css/newstock.css?20190411143845" rel="stylesheet" type="text/css"/>
  <link href="/css/common.css?20190411143845" rel="stylesheet" type="text/css"/>
  <link href="/css/layout.css?20190411143845" rel="stylesheet" type="text/css"/>
  <link href="/css/main.css?20190411143845" rel="stylesheet" type="text/css"/>
  <link href="/css/newstock2.css?20190411143845" rel="stylesheet" type="text/css"/>
  <link href="/css/newstock3.css?20190411143845" rel="stylesheet" type="text/css"/>
  <link href="/css/world.css?20190411143845" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <script language="JavaScript">
   function mouseOver(obj){
  obj.style.backgroundColor="#f6f4e5";
}
function mouseOut(obj){
  obj.style.backgroundColor="#ffffff";
}
  </script>
  <h4 class="tlline2">
   <strong>
    <span class="red03">
     일별
    </span>
    시세
   </strong>
  </h4>
  <table cellspacing="0" class="type2">
   <tr>
    <th>
     날짜
    </th>
    <th>
     종가
    </th>
    <th>
     전일비
    </th>
    <th>
     시가
    </th>
    <th>
     고가
    </th>
    <th>
     저가
    </th>
    <th>
     거래량
    </th>
   </tr>
   <tr>
    <td colspan="7" height="8">
    </td>
   </tr>
   <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
    <td align="center">
     <span class="tah p10 gray03">
      2019.05.03
     </span>
    </td>
    <td class="num">
     <span class="tah p11">
      239,000
     </span>
    </td>
    <td class="num">
     <img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/>
     <span class="tah p11 red02">
      1,000
     </span>
    </td>
    <td class="num">
     <span class="tah p11">
      236,500
     </span>
    </td>
    <td class="num">
     <span class="tah p11">
      239,000
     </span>
    </td>
    <td class="num">
     <span class="tah p11">
      236,000
     </span>
    </td>
    <td class="num">
     <span class="tah p11">
      186,154
     </span>
    </td>
   </tr>
   <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
    <td align="center">
     <span class="tah p10 gray03">
      2019.05.02
     </span>
    </td>
    <td class="num">
     <span class="tah p11">
      238,000
     </span>
    </td>
    <td class="num">
     <img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/>
     <span class="tah p11 red02">
      1,500
     </span>
    </td>
    <td class="num">
     <span class="tah p11">
      235,000
     </span>
    </td>
    <td class="num">
     <span class="tah p11">
      238,500
     </span>
    </td>
    <td class="num">
     <span class="tah p11">
      234,500
     </span>
    </td>
    <td class="num">
     <span class="tah p11">
      290,038
     </span>
    </td>
   </tr>
   <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
    <td align="center">
     <span class="tah p10 gray03">
      2019.04.30
     </span>
    </td>
    <td class="num">
     <span class="tah p11">
      236,500
     </span>
    </td>
    <td class="num">
     <img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/>
     <span class="tah p11 red02">
      2,500
     </span>
    </td>
    <td class="num">
     <span class="tah p11">
      234,000
     </span>
    </td>
    <td class="num">
     <span class="tah p11">
      237,000
     </span>
    </td>
    <td class="num">
     <span class="tah p11">
      231,500
     </span>
    </td>
    <td class="num">
     <span class="tah p11">
      241,833
     </span>
    </td>
   </tr>
   <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
    <td align="center">
     <span class="tah p10 gray03">
      2019.04.29
     </span>
    </td>
    <td class="num">
     <span class="tah p11">
      234,000
     </span>
    </td>
    <td class="num">
     <img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/>
     <span class="tah p11 red02">
      5,000
     </span>
    </td>
    <td class="num">
     <span class="tah p11">
      228,000
     </span>
    </td>
    <td class="num">
     <span class="tah p11">
      234,000
     </span>
    </td>
    <td class="num">
     <span class="tah p11">
      228,000
     </span>
    </td>
    <td class="num">
     <span class="tah p11">
      179,456
     </span>
    </td>
   </tr>
   <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
    <td align="center">
     <span class="tah p10 gray03">
      2019.04.26
     </span>
    </td>
    <td class="num">
     <span class="tah p11">
      229,000
     </span>
    </td>
    <td class="num">
     <img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/>
     <span class="tah p11 nv01">
      1,000
     </span>
    </td>
    <td class="num">
     <span class="tah p11">
      229,500
     </span>
    </td>
    <td class="num">
     <span class="tah p11">
      230,000
     </span>
    </td>
    <td class="num">
     <span class="tah p11">
      226,500
     </span>
    </td>
    <td class="num">
     <span class="tah p11">
      250,366
     </span>
    </td>
   </tr>
   <tr>
    <td colspan="7" height="8">
    </td>
   </tr>
   <tr>
    <td bgcolor="#e1e1e1" colspan="7" height="1">
    </td>
   </tr>
   <tr>
    <td colspan="7" height="8">
    </td>
   </tr>
   <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
    <td align="center">
     <span class="tah p10 gray03">
      2019.04.25
     </span>
    </td>
    <td class="num">
     <span class="tah p11">
      230,000
     </span>
    </td>
    <td class="num">
     <img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/>
     <span class="tah p11 red02">
      1,500
     </span>
    </td>
    <td class="num">
     <span class="tah p11">
      226,000
     </span>
    </td>
    <td class="num">
     <span class="tah p11">
      232,000
     </span>
    </td>
    <td class="num">
     <span class="tah p11">
      226,000
     </span>
    </td>
    <td class="num">
     <span class="tah p11">
      214,129
     </span>
    </td>
   </tr>
   <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
    <td align="center">
     <span class="tah p10 gray03">
      2019.04.24
     </span>
    </td>
    <td class="num">
     <span class="tah p11">
      228,500
     </span>
    </td>
    <td class="num">
     <img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/>
     <span class="tah p11 nv01">
      1,500
     </span>
    </td>
    <td class="num">
     <span class="tah p11">
      227,000
     </span>
    </td>
    <td class="num">
     <span class="tah p11">
      229,500
     </span>
    </td>
    <td class="num">
     <span class="tah p11">
      223,000
     </span>
    </td>
    <td class="num">
     <span class="tah p11">
      361,216
     </span>
    </td>
   </tr>
   <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
    <td align="center">
     <span class="tah p10 gray03">
      2019.04.23
     </span>
    </td>
    <td class="num">
     <span class="tah p11">
      230,000
     </span>
    </td>
    <td class="num">
     <img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/>
     <span class="tah p11 nv01">
      3,000
     </span>
    </td>
    <td class="num">
     <span class="tah p11">
      231,500
     </span>
    </td>
    <td class="num">
     <span class="tah p11">
      234,000
     </span>
    </td>
    <td class="num">
     <span class="tah p11">
      230,000
     </span>
    </td>
    <td class="num">
     <span class="tah p11">
      257,817
     </span>
    </td>
   </tr>
   <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
    <td align="center">
     <span class="tah p10 gray03">
      2019.04.22
     </span>
    </td>
    <td class="num">
     <span class="tah p11">
      233,000
     </span>
    </td>
    <td class="num">
     <img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/>
     <span class="tah p11 red02">
      3,500
     </span>
    </td>
    <td class="num">
     <span class="tah p11">
      230,000
     </span>
    </td>
    <td class="num">
     <span class="tah p11">
      234,500
     </span>
    </td>
    <td class="num">
     <span class="tah p11">
      229,500
     </span>
    </td>
    <td class="num">
     <span class="tah p11">
      176,618
     </span>
    </td>
   </tr>
   <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
    <td align="center">
     <span class="tah p10 gray03">
      2019.04.19
     </span>
    </td>
    <td class="num">
     <span class="tah p11">
      229,500
     </span>
    </td>
    <td class="num">
     <img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/>
     <span class="tah p11 red02">
      2,000
     </span>
    </td>
    <td class="num">
     <span class="tah p11">
      230,500
     </span>
    </td>
    <td class="num">
     <span class="tah p11">
      231,000
     </span>
    </td>
    <td class="num">
     <span class="tah p11">
      228,000
     </span>
    </td>
    <td class="num">
     <span class="tah p11">
      151,938
     </span>
    </td>
   </tr>
   <tr>
    <td colspan="7" height="8">
    </td>
   </tr>
  </table>
  <!--- 페이지 네비게이션 시작--->
  <table align="center" class="Nnavi" summary="페이지 네비게이션 리스트">
   <caption>
    페이지 네비게이션
   </caption>
   <tr>
    <td class="on">
     <a href="/item/sise_day.nhn?code=006400&amp;page=1">
      1
     </a>
    </td>
    <td>
     <a href="/item/sise_day.nhn?code=006400&amp;page=2">
      2
     </a>
    </td>
    <td>
     <a href="/item/sise_day.nhn?code=006400&amp;page=3">
      3
     </a>
    </td>
    <td>
     <a href="/item/sise_day.nhn?code=006400&amp;page=4">
      4
     </a>
    </td>
    <td>
     <a href="/item/sise_day.nhn?code=006400&amp;page=5">
      5
     </a>
    </td>
    <td>
     <a href="/item/sise_day.nhn?code=006400&amp;page=6">
      6
     </a>
    </td>
    <td>
     <a href="/item/sise_day.nhn?code=006400&amp;page=7">
      7
     </a>
    </td>
    <td>
     <a href="/item/sise_day.nhn?code=006400&amp;page=8">
      8
     </a>
    </td>
    <td>
     <a href="/item/sise_day.nhn?code=006400&amp;page=9">
      9
     </a>
    </td>
    <td>
     <a href="/item/sise_day.nhn?code=006400&amp;page=10">
      10
     </a>
    </td>
    <td class="pgR">
     <a href="/item/sise_day.nhn?code=006400&amp;page=11">
      다음
      <img alt="" border="0" height="5" src="https://ssl.pstatic.net/static/n/cmn/bu_pgarR.gif" width="3"/>
     </a>
    </td>
    <td class="pgRR">
     <a href="/item/sise_day.nhn?code=006400&amp;page=575">
      맨뒤
      <img alt="" border="0" height="5" src="https://ssl.pstatic.net/static/n/cmn/bu_pgarRR.gif" width="8"/>
     </a>
    </td>
   </tr>
  </table>
  <!--- 페이지 네비게이션 끝--->
  <script src="/js/jindo.min.ns.1.5.3.euckr.js?20190411143845" type="text/javascript">
  </script>
  <script src="/js/lcslog.js?20190411143845" type="text/javascript">
  </script>
  <script type="text/javascript">
   ;(function(){
            var eventType = "onpageshow" in window ? "pageshow" : "load";
            jindo.$Fn(function(){
                lcs_do();
            }).attach(window, eventType);
        })();
  </script>
 </body>
</html>

In [3]:
d=source.find_all('span',class_='tah p10 gray03')[0].text
d

'2019.05.03'

In [4]:
import datetime as dt

In [5]:
def date_format(d):
    d = str(d).replace('-','.')
    yyyy = int(d.split('.')[0])
    mm = int(d.split('.')[1])
    dd = int(d.split('.')[2])
    
    this_date = dt.date(yyyy,mm,dd)
    return this_date

In [6]:
def historical_index_naver(index_cd, start_date='', end_date='', page_n = 1, last_page = 0):
    
    if start_date:
        start_date = date_format(start_date)
    else:
        start_date = dt.date.today()
    if end_date:
        end_date = date_format(end_date)
    else:
        end_date = dt.date.today()
        
    naver_index = 'https://finance.naver.com/item/sise_day.nhn?code=' + index_cd + '&page=' + str(page_n)
    source = bs4.BeautifulSoup(urlopen(naver_index).read(), 'lxml')
    dates=source.find_all('span',class_='tah p10 gray03')
    prices=source.find_all('td',class_='num')
    
    for n in range(len(dates)):
        if dates[n].text.split('.')[0].isdigit():
            this_date = dates[n].text
            this_date = date_format(this_date)
            
            if this_date <= end_date and this_date >= start_date:
                this_close = prices[n*6].text
                this_close = this_close.replace(',','')
                this_close = float(this_close)
                historical_prices[this_date] = this_close
            elif this_date < start_date:
                return historical_prices
    if last_page == 0:
        last_page = source.find('td', class_='pgRR').find('a')['href']
        last_page = int(last_page.split('&')[1].split('=')[1])

    if page_n < last_page:
        page_n += 1
        historical_index_naver(index_cd, start_date, end_date, page_n, last_page)
        
    return historical_prices

In [7]:
index_cd='006400'
historical_prices=dict()
historical_index_naver(index_cd,'2017.03.01','2019.2.28')
historical_prices

{datetime.date(2019, 2, 28): 237500.0,
 datetime.date(2019, 2, 27): 239000.0,
 datetime.date(2019, 2, 26): 240500.0,
 datetime.date(2019, 2, 25): 245500.0,
 datetime.date(2019, 2, 22): 241000.0,
 datetime.date(2019, 2, 21): 243500.0,
 datetime.date(2019, 2, 20): 248000.0,
 datetime.date(2019, 2, 19): 247500.0,
 datetime.date(2019, 2, 18): 245000.0,
 datetime.date(2019, 2, 15): 236000.0,
 datetime.date(2019, 2, 14): 240500.0,
 datetime.date(2019, 2, 13): 238500.0,
 datetime.date(2019, 2, 12): 236500.0,
 datetime.date(2019, 2, 11): 236500.0,
 datetime.date(2019, 2, 8): 238500.0,
 datetime.date(2019, 2, 7): 240000.0,
 datetime.date(2019, 2, 1): 227000.0,
 datetime.date(2019, 1, 31): 223500.0,
 datetime.date(2019, 1, 30): 228000.0,
 datetime.date(2019, 1, 29): 229000.0,
 datetime.date(2019, 1, 28): 232000.0,
 datetime.date(2019, 1, 25): 232500.0,
 datetime.date(2019, 1, 24): 225500.0,
 datetime.date(2019, 1, 23): 230500.0,
 datetime.date(2019, 1, 22): 229000.0,
 datetime.date(2019, 1, 21): 236500.0,
 datetime.date(2019, 1, 18): 232500.0,
 datetime.date(2019, 1, 17): 232000.0,
 datetime.date(2019, 1, 16): 240000.0,
 datetime.date(2019, 1, 15): 236500.0,
 datetime.date(2019, 1, 14): 232000.0,
 datetime.date(2019, 1, 11): 231000.0,
 datetime.date(2019, 1, 10): 227000.0,
 datetime.date(2019, 1, 9): 226500.0,
 datetime.date(2019, 1, 8): 218500.0,
 datetime.date(2019, 1, 7): 217000.0,
 datetime.date(2019, 1, 4): 201000.0,
 datetime.date(2019, 1, 3): 203000.0,
 datetime.date(2019, 1, 2): 210500.0,
 datetime.date(2018, 12, 28): 219000.0,
 datetime.date(2018, 12, 27): 220500.0,
 datetime.date(2018, 12, 26): 218000.0,
 datetime.date(2018, 12, 24): 218500.0,
 datetime.date(2018, 12, 21): 221000.0,
 datetime.date(2018, 12, 20): 210000.0,
 datetime.date(2018, 12, 19): 211000.0,
 datetime.date(2018, 12, 18): 202500.0,
 datetime.date(2018, 12, 17): 207000.0,
 datetime.date(2018, 12, 14): 205500.0,
 datetime.date(2018, 12, 13): 216000.0,
 datetime.date(2018, 12, 12): 208500.0,
 datetime.date(2018, 12, 11): 203500.0,
 datetime.date(2018, 12, 10): 204000.0,
 datetime.date(2018, 12, 7): 208000.0,
 datetime.date(2018, 12, 6): 208000.0,
 datetime.date(2018, 12, 5): 216500.0,
 datetime.date(2018, 12, 4): 218500.0,
 datetime.date(2018, 12, 3): 221000.0,
 datetime.date(2018, 11, 30): 206500.0,
 datetime.date(2018, 11, 29): 209500.0,
 datetime.date(2018, 11, 28): 209000.0,
 datetime.date(2018, 11, 27): 209500.0,
 datetime.date(2018, 11, 26): 206000.0,
 datetime.date(2018, 11, 23): 201500.0,
 datetime.date(2018, 11, 22): 208500.0,
 datetime.date(2018, 11, 21): 210500.0,
 datetime.date(2018, 11, 20): 209000.0,
 datetime.date(2018, 11, 19): 222500.0,
 datetime.date(2018, 11, 16): 220000.0,
 datetime.date(2018, 11, 15): 222000.0,
 datetime.date(2018, 11, 14): 217500.0,
 datetime.date(2018, 11, 13): 216000.0,
 datetime.date(2018, 11, 12): 219000.0,
 datetime.date(2018, 11, 9): 216500.0,
 datetime.date(2018, 11, 8): 229000.0,
 datetime.date(2018, 11, 7): 229500.0,
 datetime.date(2018, 11, 6): 234500.0,
 datetime.date(2018, 11, 5): 236000.0,
 datetime.date(2018, 11, 2): 234500.0,
 datetime.date(2018, 11, 1): 228500.0,
 datetime.date(2018, 10, 31): 235500.0,
 datetime.date(2018, 10, 30): 235000.0,
 datetime.date(2018, 10, 29): 229000.0,
 datetime.date(2018, 10, 26): 232000.0,
 datetime.date(2018, 10, 25): 229500.0,
 datetime.date(2018, 10, 24): 222500.0,
 datetime.date(2018, 10, 23): 239500.0,
 datetime.date(2018, 10, 22): 251000.0,
 datetime.date(2018, 10, 19): 252500.0,
 datetime.date(2018, 10, 18): 252500.0,
 datetime.date(2018, 10, 17): 250500.0,
 datetime.date(2018, 10, 16): 243500.0,
 datetime.date(2018, 10, 15): 243500.0,
 datetime.date(2018, 10, 12): 244000.0,
 datetime.date(2018, 10, 11): 227000.0,
 datetime.date(2018, 10, 10): 238500.0,
 datetime.date(2018, 10, 8): 239000.0,
 datetime.date(2018, 10, 5): 237000.0,
 datetime.date(2018, 10, 4): 244000.0,
 datetime.date(2018, 10, 2): 250000.0,
 datetime.date(2018, 10, 1): 252500.0,
 datetime.date(2018, 9, 28): 258500.0,
 datetime.date(2018, 9, 27): 261000.0,
 datetime.date(2018, 9, 21): 256000.0,
 datetime.date(2018, 9, 20): 253500.0,
 datetime.date(2018, 9, 19): 256500.0,
 datetime.date(2018, 9, 18): 255000.0,
 datetime.date(2018, 9, 17): 246500.0,
 datetime.date(2018, 9, 14): 245000.0,
 datetime.date(2018, 9, 13): 238500.0,
 datetime.date(2018, 9, 12): 247500.0,
 datetime.date(2018, 9, 11): 249500.0,
 datetime.date(2018, 9, 10): 244000.0,
 datetime.date(2018, 9, 7): 239000.0,
 datetime.date(2018, 9, 6): 242000.0,
 datetime.date(2018, 9, 5): 242500.0,
 datetime.date(2018, 9, 4): 245000.0,
 datetime.date(2018, 9, 3): 242500.0,
 datetime.date(2018, 8, 31): 236000.0,
 datetime.date(2018, 8, 30): 235500.0,
 datetime.date(2018, 8, 29): 235500.0,
 datetime.date(2018, 8, 28): 230000.0,
 datetime.date(2018, 8, 27): 233000.0,
 datetime.date(2018, 8, 24): 224000.0,
 datetime.date(2018, 8, 23): 219500.0,
 datetime.date(2018, 8, 22): 215500.0,
 datetime.date(2018, 8, 21): 217000.0,
 datetime.date(2018, 8, 20): 208000.0,
 datetime.date(2018, 8, 17): 213500.0,
 datetime.date(2018, 8, 16): 216500.0,
 datetime.date(2018, 8, 14): 214500.0,
 datetime.date(2018, 8, 13): 215000.0,
 datetime.date(2018, 8, 10): 213500.0,
 datetime.date(2018, 8, 9): 228500.0,
 datetime.date(2018, 8, 8): 225500.0,
 datetime.date(2018, 8, 7): 226500.0,
 datetime.date(2018, 8, 6): 225000.0,
 datetime.date(2018, 8, 3): 231000.0,
 datetime.date(2018, 8, 2): 226500.0,
 datetime.date(2018, 8, 1): 226000.0,
 datetime.date(2018, 7, 31): 229000.0,
 datetime.date(2018, 7, 30): 228000.0,
 datetime.date(2018, 7, 27): 234500.0,
 datetime.date(2018, 7, 26): 231500.0,
 datetime.date(2018, 7, 25): 230000.0,
 datetime.date(2018, 7, 24): 228000.0,
 datetime.date(2018, 7, 23): 220500.0,
 datetime.date(2018, 7, 20): 232000.0,
 datetime.date(2018, 7, 19): 235000.0,
 datetime.date(2018, 7, 18): 227000.0,
 datetime.date(2018, 7, 17): 228500.0,
 datetime.date(2018, 7, 16): 229000.0,
 datetime.date(2018, 7, 13): 237000.0,
 datetime.date(2018, 7, 12): 233500.0,
 datetime.date(2018, 7, 11): 225000.0,
 datetime.date(2018, 7, 10): 228500.0,
 datetime.date(2018, 7, 9): 232500.0,
 datetime.date(2018, 7, 6): 231000.0,
 datetime.date(2018, 7, 5): 215000.0,
 datetime.date(2018, 7, 4): 213000.0,
 datetime.date(2018, 7, 3): 212500.0,
 datetime.date(2018, 7, 2): 214000.0,
 datetime.date(2018, 6, 29): 214000.0,
 datetime.date(2018, 6, 28): 220000.0,
 datetime.date(2018, 6, 27): 225500.0,
 datetime.date(2018, 6, 26): 224000.0,
 datetime.date(2018, 6, 25): 225500.0,
 datetime.date(2018, 6, 22): 227000.0,
 datetime.date(2018, 6, 21): 226000.0,
 datetime.date(2018, 6, 20): 229000.0,
 datetime.date(2018, 6, 19): 216000.0,
 datetime.date(2018, 6, 18): 223000.0,
 datetime.date(2018, 6, 15): 235500.0,
 datetime.date(2018, 6, 14): 227000.0,
 datetime.date(2018, 6, 12): 230000.0,
 datetime.date(2018, 6, 11): 224000.0,
 datetime.date(2018, 6, 8): 225500.0,
 datetime.date(2018, 6, 7): 222000.0,
 datetime.date(2018, 6, 5): 215000.0,
 datetime.date(2018, 6, 4): 219000.0,
 datetime.date(2018, 6, 1): 209000.0,
 datetime.date(2018, 5, 31): 200500.0,
 datetime.date(2018, 5, 30): 206000.0,
 datetime.date(2018, 5, 29): 211500.0,
 datetime.date(2018, 5, 28): 209000.0,
 datetime.date(2018, 5, 25): 207000.0,
 datetime.date(2018, 5, 24): 204500.0,
 datetime.date(2018, 5, 23): 204500.0,
 datetime.date(2018, 5, 21): 198000.0,
 datetime.date(2018, 5, 18): 195000.0,
 datetime.date(2018, 5, 17): 200000.0,
 datetime.date(2018, 5, 16): 196000.0,
 datetime.date(2018, 5, 15): 196000.0,
 datetime.date(2018, 5, 14): 200000.0,
 datetime.date(2018, 5, 11): 191000.0,
 datetime.date(2018, 5, 10): 190500.0,
 datetime.date(2018, 5, 9): 191000.0,
 datetime.date(2018, 5, 8): 184000.0,
 datetime.date(2018, 5, 4): 180500.0,
 datetime.date(2018, 5, 3): 186500.0,
 datetime.date(2018, 5, 2): 183000.0,
 datetime.date(2018, 4, 30): 183500.0,
 datetime.date(2018, 4, 27): 180500.0,
 datetime.date(2018, 4, 26): 178500.0,
 datetime.date(2018, 4, 25): 176000.0,
 datetime.date(2018, 4, 24): 182500.0,
 datetime.date(2018, 4, 23): 188000.0,
 datetime.date(2018, 4, 20): 186000.0,
 datetime.date(2018, 4, 19): 189500.0,
 datetime.date(2018, 4, 18): 192000.0,
 datetime.date(2018, 4, 17): 193000.0,
 datetime.date(2018, 4, 16): 192500.0,
 datetime.date(2018, 4, 13): 192500.0,
 datetime.date(2018, 4, 12): 189500.0,
 datetime.date(2018, 4, 11): 187000.0,
 datetime.date(2018, 4, 10): 186000.0,
 datetime.date(2018, 4, 9): 191500.0,
 datetime.date(2018, 4, 6): 191000.0,
 datetime.date(2018, 4, 5): 191000.0,
 datetime.date(2018, 4, 4): 189500.0,
 datetime.date(2018, 4, 3): 197500.0,
 datetime.date(2018, 4, 2): 199500.0,
 datetime.date(2018, 3, 30): 192500.0,
 datetime.date(2018, 3, 29): 191000.0,
 datetime.date(2018, 3, 28): 197000.0,
 datetime.date(2018, 3, 27): 201000.0,
 datetime.date(2018, 3, 26): 201500.0,
 datetime.date(2018, 3, 23): 199500.0,
 datetime.date(2018, 3, 22): 208000.0,
 datetime.date(2018, 3, 21): 204500.0,
 datetime.date(2018, 3, 20): 208500.0,
 datetime.date(2018, 3, 19): 206000.0,
 datetime.date(2018, 3, 16): 215500.0,
 datetime.date(2018, 3, 15): 214500.0,
 datetime.date(2018, 3, 14): 206500.0,
 datetime.date(2018, 3, 13): 202000.0,
 datetime.date(2018, 3, 12): 202500.0,
 datetime.date(2018, 3, 9): 196500.0,
 datetime.date(2018, 3, 8): 182000.0,
 datetime.date(2018, 3, 7): 178000.0,
 datetime.date(2018, 3, 6): 179500.0,
 datetime.date(2018, 3, 5): 170000.0,
 datetime.date(2018, 3, 2): 170500.0,
 datetime.date(2018, 2, 28): 171000.0,
 datetime.date(2018, 2, 27): 175500.0,
 datetime.date(2018, 2, 26): 177000.0,
 datetime.date(2018, 2, 23): 182000.0,
 datetime.date(2018, 2, 22): 179000.0,
 datetime.date(2018, 2, 21): 178000.0,
 datetime.date(2018, 2, 20): 179500.0,
 datetime.date(2018, 2, 19): 182500.0,
 datetime.date(2018, 2, 14): 180500.0,
 datetime.date(2018, 2, 13): 172500.0,
 datetime.date(2018, 2, 12): 174000.0,
 datetime.date(2018, 2, 9): 170000.0,
 datetime.date(2018, 2, 8): 175000.0,
 datetime.date(2018, 2, 7): 172000.0,
 datetime.date(2018, 2, 6): 177000.0,
 datetime.date(2018, 2, 5): 175000.0,
 datetime.date(2018, 2, 2): 179000.0,
 datetime.date(2018, 2, 1): 187500.0,
 datetime.date(2018, 1, 31): 197000.0,
 datetime.date(2018, 1, 30): 204500.0,
 datetime.date(2018, 1, 29): 209000.0,
 datetime.date(2018, 1, 26): 207000.0,
 datetime.date(2018, 1, 25): 210000.0,
 datetime.date(2018, 1, 24): 208000.0,
 datetime.date(2018, 1, 23): 201000.0,
 datetime.date(2018, 1, 22): 203000.0,
 datetime.date(2018, 1, 19): 204000.0,
 datetime.date(2018, 1, 18): 218000.0,
 datetime.date(2018, 1, 17): 214500.0,
 datetime.date(2018, 1, 16): 216500.0,
 datetime.date(2018, 1, 15): 213000.0,
 datetime.date(2018, 1, 12): 215500.0,
 datetime.date(2018, 1, 11): 214500.0,
 datetime.date(2018, 1, 10): 213500.0,
 datetime.date(2018, 1, 9): 219500.0,
 datetime.date(2018, 1, 8): 225500.0,
 datetime.date(2018, 1, 5): 220500.0,
 datetime.date(2018, 1, 4): 208500.0,
 datetime.date(2018, 1, 3): 207500.0,
 datetime.date(2018, 1, 2): 212000.0,
 datetime.date(2017, 12, 28): 204500.0,
 datetime.date(2017, 12, 27): 197500.0,
 datetime.date(2017, 12, 26): 195000.0,
 datetime.date(2017, 12, 22): 202500.0,
 datetime.date(2017, 12, 21): 202000.0,
 datetime.date(2017, 12, 20): 211000.0,
 datetime.date(2017, 12, 19): 209000.0,
 datetime.date(2017, 12, 18): 208000.0,
 datetime.date(2017, 12, 15): 209000.0,
 datetime.date(2017, 12, 14): 210500.0,
 datetime.date(2017, 12, 13): 217000.0,
 datetime.date(2017, 12, 12): 213500.0,
 datetime.date(2017, 12, 11): 210000.0,
 datetime.date(2017, 12, 8): 209500.0,
 datetime.date(2017, 12, 7): 208000.0,
 datetime.date(2017, 12, 6): 202500.0,
 datetime.date(2017, 12, 5): 204000.0,
 datetime.date(2017, 12, 4): 214000.0,
 datetime.date(2017, 12, 1): 214500.0,
 datetime.date(2017, 11, 30): 212000.0,
 datetime.date(2017, 11, 29): 220500.0,
 datetime.date(2017, 11, 28): 220000.0,
 datetime.date(2017, 11, 27): 222500.0,
 datetime.date(2017, 11, 24): 232500.0,
 datetime.date(2017, 11, 23): 229500.0,
 datetime.date(2017, 11, 22): 227500.0,
 datetime.date(2017, 11, 21): 218500.0,
 datetime.date(2017, 11, 20): 214500.0,
 datetime.date(2017, 11, 17): 220000.0,
 datetime.date(2017, 11, 16): 215500.0,
 datetime.date(2017, 11, 15): 217500.0,
 datetime.date(2017, 11, 14): 214000.0,
 datetime.date(2017, 11, 13): 212500.0,
 datetime.date(2017, 11, 10): 221000.0,
 datetime.date(2017, 11, 9): 221500.0,
 datetime.date(2017, 11, 8): 221000.0,
 datetime.date(2017, 11, 7): 221000.0,
 datetime.date(2017, 11, 6): 217500.0,
 datetime.date(2017, 11, 3): 220000.0,
 datetime.date(2017, 11, 2): 225000.0,
 datetime.date(2017, 11, 1): 224500.0,
 datetime.date(2017, 10, 31): 206000.0,
 datetime.date(2017, 10, 30): 202500.0,
 datetime.date(2017, 10, 27): 195000.0,
 datetime.date(2017, 10, 26): 195500.0,
 datetime.date(2017, 10, 25): 198500.0,
 datetime.date(2017, 10, 24): 197500.0,
 datetime.date(2017, 10, 23): 205000.0,
 datetime.date(2017, 10, 20): 199500.0,
 datetime.date(2017, 10, 19): 197000.0,
 datetime.date(2017, 10, 18): 198000.0,
 datetime.date(2017, 10, 17): 202500.0,
 datetime.date(2017, 10, 16): 203500.0,
 datetime.date(2017, 10, 13): 216000.0,
 datetime.date(2017, 10, 12): 215000.0,
 datetime.date(2017, 10, 11): 217000.0,
 datetime.date(2017, 10, 10): 213500.0,
 datetime.date(2017, 9, 29): 198500.0,
 datetime.date(2017, 9, 28): 200000.0,
 datetime.date(2017, 9, 27): 209500.0,
 datetime.date(2017, 9, 26): 210000.0,
 datetime.date(2017, 9, 25): 216000.0,
 datetime.date(2017, 9, 22): 208500.0,
 datetime.date(2017, 9, 21): 213000.0,
 datetime.date(2017, 9, 20): 219000.0,
 datetime.date(2017, 9, 19): 223000.0,
 datetime.date(2017, 9, 18): 220500.0,
 datetime.date(2017, 9, 15): 214500.0,
 datetime.date(2017, 9, 14): 210000.0,
 datetime.date(2017, 9, 13): 208500.0,
 datetime.date(2017, 9, 12): 200000.0,
 datetime.date(2017, 9, 11): 202500.0,
 datetime.date(2017, 9, 8): 192500.0,
 datetime.date(2017, 9, 7): 193000.0,
 datetime.date(2017, 9, 6): 192500.0,
 datetime.date(2017, 9, 5): 190500.0,
 datetime.date(2017, 9, 4): 193000.0,
 datetime.date(2017, 9, 1): 197000.0,
 datetime.date(2017, 8, 31): 196500.0,
 datetime.date(2017, 8, 30): 192500.0,
 datetime.date(2017, 8, 29): 185500.0,
 datetime.date(2017, 8, 28): 187000.0,
 datetime.date(2017, 8, 25): 191000.0,
 datetime.date(2017, 8, 24): 191000.0,
 datetime.date(2017, 8, 23): 189000.0,
 datetime.date(2017, 8, 22): 185500.0,
 datetime.date(2017, 8, 21): 178500.0,
 datetime.date(2017, 8, 18): 176500.0,
 datetime.date(2017, 8, 17): 178000.0,
 datetime.date(2017, 8, 16): 178500.0,
 datetime.date(2017, 8, 14): 176500.0,
 datetime.date(2017, 8, 11): 169000.0,
 datetime.date(2017, 8, 10): 171000.0,
 datetime.date(2017, 8, 9): 170500.0,
 datetime.date(2017, 8, 8): 177500.0,
 datetime.date(2017, 8, 7): 181000.0,
 datetime.date(2017, 8, 4): 181500.0,
 datetime.date(2017, 8, 3): 175500.0,
 datetime.date(2017, 8, 2): 179500.0,
 datetime.date(2017, 8, 1): 172000.0,
 datetime.date(2017, 7, 31): 168500.0,
 datetime.date(2017, 7, 28): 166000.0,
 datetime.date(2017, 7, 27): 173000.0,
 datetime.date(2017, 7, 26): 171500.0,
 datetime.date(2017, 7, 25): 182000.0,
 datetime.date(2017, 7, 24): 180000.0,
 datetime.date(2017, 7, 21): 181000.0,
 datetime.date(2017, 7, 20): 177500.0,
 datetime.date(2017, 7, 19): 178000.0,
 datetime.date(2017, 7, 18): 189000.0,
 datetime.date(2017, 7, 17): 187000.0,
 datetime.date(2017, 7, 14): 181000.0,
 datetime.date(2017, 7, 13): 181000.0,
 datetime.date(2017, 7, 12): 172500.0,
 datetime.date(2017, 7, 11): 176500.0,
 datetime.date(2017, 7, 10): 176000.0,
 datetime.date(2017, 7, 7): 177000.0,
 datetime.date(2017, 7, 6): 177000.0,
 datetime.date(2017, 7, 5): 177000.0,
 datetime.date(2017, 7, 4): 168500.0,
 datetime.date(2017, 7, 3): 170000.0,
 datetime.date(2017, 6, 30): 171500.0,
 datetime.date(2017, 6, 29): 168000.0,
 datetime.date(2017, 6, 28): 170500.0,
 datetime.date(2017, 6, 27): 176000.0,
 datetime.date(2017, 6, 26): 172500.0,
 datetime.date(2017, 6, 23): 164500.0,
 datetime.date(2017, 6, 22): 164000.0,
 datetime.date(2017, 6, 21): 158000.0,
 datetime.date(2017, 6, 20): 156000.0,
 datetime.date(2017, 6, 19): 155000.0,
 datetime.date(2017, 6, 16): 147500.0,
 datetime.date(2017, 6, 15): 152000.0,
 datetime.date(2017, 6, 14): 150500.0,
 datetime.date(2017, 6, 13): 151000.0,
 datetime.date(2017, 6, 12): 148000.0,
 datetime.date(2017, 6, 9): 155500.0,
 datetime.date(2017, 6, 8): 159500.0,
 datetime.date(2017, 6, 7): 161000.0,
 datetime.date(2017, 6, 5): 158500.0,
 datetime.date(2017, 6, 2): 158500.0,
 datetime.date(2017, 6, 1): 158500.0,
 datetime.date(2017, 5, 31): 165500.0,
 datetime.date(2017, 5, 30): 164500.0,
 datetime.date(2017, 5, 29): 165000.0,
 datetime.date(2017, 5, 26): 159500.0,
 datetime.date(2017, 5, 25): 156500.0,
 datetime.date(2017, 5, 24): 158000.0,
 datetime.date(2017, 5, 23): 157500.0,
 datetime.date(2017, 5, 22): 156500.0,
 datetime.date(2017, 5, 19): 156000.0,
 datetime.date(2017, 5, 18): 151500.0,
 datetime.date(2017, 5, 17): 155000.0,
 datetime.date(2017, 5, 16): 153000.0,
 datetime.date(2017, 5, 15): 154000.0,
 datetime.date(2017, 5, 12): 153000.0,
 datetime.date(2017, 5, 11): 150000.0,
 datetime.date(2017, 5, 10): 141500.0,
 datetime.date(2017, 5, 8): 142000.0,
 datetime.date(2017, 5, 4): 139000.0,
 datetime.date(2017, 5, 2): 137500.0,
 datetime.date(2017, 4, 28): 137500.0,
 datetime.date(2017, 4, 27): 136000.0,
 datetime.date(2017, 4, 26): 140000.0,
 datetime.date(2017, 4, 25): 139500.0,
 datetime.date(2017, 4, 24): 138000.0,
 datetime.date(2017, 4, 21): 138000.0,
 datetime.date(2017, 4, 20): 138000.0,
 datetime.date(2017, 4, 19): 134000.0,
 datetime.date(2017, 4, 18): 133500.0,
 datetime.date(2017, 4, 17): 134000.0,
 datetime.date(2017, 4, 14): 135000.0,
 datetime.date(2017, 4, 13): 137000.0,
 datetime.date(2017, 4, 12): 133000.0,
 datetime.date(2017, 4, 11): 136000.0,
 datetime.date(2017, 4, 10): 137500.0,
 datetime.date(2017, 4, 7): 137500.0,
 datetime.date(2017, 4, 6): 137500.0,
 datetime.date(2017, 4, 5): 138500.0,
 datetime.date(2017, 4, 4): 136500.0,
 datetime.date(2017, 4, 3): 138000.0,
 datetime.date(2017, 3, 31): 138000.0,
 datetime.date(2017, 3, 30): 136500.0,
 datetime.date(2017, 3, 29): 139500.0,
 datetime.date(2017, 3, 28): 135500.0,
 datetime.date(2017, 3, 27): 134500.0,
 datetime.date(2017, 3, 24): 135500.0,
 datetime.date(2017, 3, 23): 135500.0,
 datetime.date(2017, 3, 22): 135000.0,
 datetime.date(2017, 3, 21): 134000.0,
 datetime.date(2017, 3, 20): 134000.0,
 datetime.date(2017, 3, 17): 136000.0,
 datetime.date(2017, 3, 16): 136000.0,
 datetime.date(2017, 3, 15): 135500.0,
 datetime.date(2017, 3, 14): 133500.0,
 datetime.date(2017, 3, 13): 131000.0,
 datetime.date(2017, 3, 10): 126500.0,
 datetime.date(2017, 3, 9): 127500.0,
 datetime.date(2017, 3, 8): 130000.0,
 datetime.date(2017, 3, 7): 125000.0,
 datetime.date(2017, 3, 6): 125000.0,
 datetime.date(2017, 3, 3): 125000.0,
 datetime.date(2017, 3, 2): 129000.0}

In [8]:
prices={'sdi':historical_prices}
df=pd.DataFrame(prices)
df

                 sdi
2017-03-02  129000.0
2017-03-03  125000.0
2017-03-06  125000.0
2017-03-07  125000.0
2017-03-08  130000.0
2017-03-09  127500.0
2017-03-10  126500.0
2017-03-13  131000.0
2017-03-14  133500.0
2017-03-15  135500.0
2017-03-16  136000.0
2017-03-17  136000.0
2017-03-20  134000.0
2017-03-21  134000.0
2017-03-22  135000.0
2017-03-23  135500.0
2017-03-24  135500.0
2017-03-27  134500.0
2017-03-28  135500.0
2017-03-29  139500.0
2017-03-30  136500.0
2017-03-31  138000.0
2017-04-03  138000.0
2017-04-04  136500.0
2017-04-05  138500.0
2017-04-06  137500.0
2017-04-07  137500.0
2017-04-10  137500.0
2017-04-11  136000.0
2017-04-12  133000.0
...              ...
2019-01-15  236500.0
2019-01-16  240000.0
2019-01-17  232000.0
2019-01-18  232500.0
2019-01-21  236500.0
2019-01-22  229000.0
2019-01-23  230500.0
2019-01-24  225500.0
2019-01-25  232500.0
2019-01-28  232000.0
2019-01-29  229000.0
2019-01-30  228000.0
2019-01-31  223500.0
2019-02-01  227000.0
2019-02-07  240000.0
2019-02-08  238500.0
2019-02-11  236500.0
2019-02-12  236500.0
2019-02-13  238500.0
2019-02-14  240500.0
2019-02-15  236000.0
2019-02-18  245000.0
2019-02-19  247500.0
2019-02-20  248000.0
2019-02-21  243500.0
2019-02-22  241000.0
2019-02-25  245500.0
2019-02-26  240500.0
2019-02-27  239000.0
2019-02-28  237500.0

[486 rows x 1 columns]

In [9]:
df['5_mean']=df['sdi'].rolling(window=5).mean()
df['20_mean']=df['sdi'].rolling(window=20).mean()
df

                 sdi    5_mean   20_mean
2017-03-02  129000.0       NaN       NaN
2017-03-03  125000.0       NaN       NaN
2017-03-06  125000.0       NaN       NaN
2017-03-07  125000.0       NaN       NaN
2017-03-08  130000.0  126800.0       NaN
2017-03-09  127500.0  126500.0       NaN
2017-03-10  126500.0  126800.0       NaN
2017-03-13  131000.0  128000.0       NaN
2017-03-14  133500.0  129700.0       NaN
2017-03-15  135500.0  130800.0       NaN
2017-03-16  136000.0  132500.0       NaN
2017-03-17  136000.0  134400.0       NaN
2017-03-20  134000.0  135000.0       NaN
2017-03-21  134000.0  135100.0       NaN
2017-03-22  135000.0  135000.0       NaN
2017-03-23  135500.0  134900.0       NaN
2017-03-24  135500.0  134800.0       NaN
2017-03-27  134500.0  134900.0       NaN
2017-03-28  135500.0  135200.0       NaN
2017-03-29  139500.0  136100.0  132175.0
2017-03-30  136500.0  136300.0  132550.0
2017-03-31  138000.0  136800.0  133200.0
2017-04-03  138000.0  137500.0  133850.0
2017-04-04  136500.0  137700.0  134425.0
2017-04-05  138500.0  137500.0  134850.0
2017-04-06  137500.0  137700.0  135350.0
2017-04-07  137500.0  137600.0  135900.0
2017-04-10  137500.0  137500.0  136225.0
2017-04-11  136000.0  137400.0  136350.0
2017-04-12  133000.0  136300.0  136225.0
...              ...       ...       ...
2019-01-15  236500.0  230600.0  216800.0
2019-01-16  240000.0  233300.0  218525.0
2019-01-17  232000.0  234300.0  219775.0
2019-01-18  232500.0  234600.0  221275.0
2019-01-21  236500.0  235500.0  222550.0
2019-01-22  229000.0  234000.0  223500.0
2019-01-23  230500.0  232100.0  223975.0
2019-01-24  225500.0  230800.0  224325.0
2019-01-25  232500.0  230800.0  225050.0
2019-01-28  232000.0  229900.0  225625.0
2019-01-29  229000.0  229900.0  226125.0
2019-01-30  228000.0  229400.0  227000.0
2019-01-31  223500.0  229000.0  228025.0
2019-02-01  227000.0  227900.0  229325.0
2019-02-07  240000.0  229500.0  230475.0
2019-02-08  238500.0  231400.0  231475.0
2019-02-11  236500.0  233100.0  231975.0
2019-02-12  236500.0  235700.0  232450.0
2019-02-13  238500.0  238000.0  232825.0
2019-02-14  240500.0  238100.0  233250.0
2019-02-15  236000.0  237600.0  233225.0
2019-02-18  245000.0  239300.0  233475.0
2019-02-19  247500.0  241500.0  234250.0
2019-02-20  248000.0  243400.0  235025.0
2019-02-21  243500.0  244000.0  235375.0
2019-02-22  241000.0  245000.0  235975.0
2019-02-25  245500.0  245100.0  236725.0
2019-02-26  240500.0  243700.0  237475.0
2019-02-27  239000.0  241900.0  237800.0
2019-02-28  237500.0  240700.0  238075.0

[486 rows x 3 columns]

In [10]:
전략=0
보유잔고=10000000
주식개수=0
중복=False

df['전략']=Series([전략],index=[df.index[0]])
df['주식개수']=Series([주식개수],index=[df.index[0]])
df['보유잔고']=Series([보유잔고],index=[df.index[0]])

for i in range(0, len(df)):
    if df['5_mean'][i]==None or df['20_mean'][i]==None:
        전략=0
        df['전략'][i]=전략
        df['주식개수'][i]=주식개수
        df['보유잔고'][i]=보유잔고
    # 골든크로스
    elif df['5_mean'][i]>df['20_mean'][i]:
        #전략 0이었던 거를 골든크로스가 발생했을 때 1(매수)로 바꿔주고, 첫째날은 넘어간다.
        if 전략!=1:
            전략=1
            중복=False
            df['전략'][i]=전략
            df['주식개수'][i]=주식개수
            df['보유잔고'][i]=보유잔고
            continue
        # 골든크로스 두쨋날 매수하고 그 다음일은 전부 중복,True로 바꾼다.
        elif 전략==1:        
            if 중복==False:
                주식개수=보유잔고//df['sdi'][i]
                보유잔고=보유잔고-(주식개수*df['sdi'][i])
                df['전략'][i]=전략
                df['주식개수'][i]=주식개수
                df['보유잔고'][i]=보유잔고
                중복=True
            #두번째날 다음부터는 전략,주식개수,보유잔고 유지
            elif 중복==True:
                df['전략'][i]=전략
                df['주식개수'][i]=주식개수
                df['보유잔고'][i]=보유잔고
    # 데드크로스
    elif df['5_mean'][i]<df['20_mean'][i]:
        # 데드크로스가 발생했을 때 전략 1인거를 2로 바꿔주고 다음날로 넘어감.
        if 전략!=2:
            전략=2
            중복=False
            df['전략'][i]=전략
            df['주식개수'][i]=주식개수
            df['보유잔고'][i]=보유잔고
            continue
        # 데드크로스 둘쨋날 일 때 매도하고 중복을 True로 바꿔줌
        elif 전략==2:
            if 중복==False:
                보유잔고=보유잔고+(주식개수*df['sdi'][i])
                주식개수=0
                df['전략'][i]=전략
                df['주식개수'][i]=주식개수
                df['보유잔고'][i]=보유잔고
                중복=True
            #둘쨋날 다음부터는 유지    
            elif 중복==True:
                df['전략'][i]=전략
                df['주식개수'][i]=주식개수
                df['보유잔고'][i]=보유잔고

In [11]:
df

                 sdi    5_mean   20_mean   전략  주식개수        보유잔고
2017-03-02  129000.0       NaN       NaN  0.0   0.0  10000000.0
2017-03-03  125000.0       NaN       NaN  NaN   NaN         NaN
2017-03-06  125000.0       NaN       NaN  NaN   NaN         NaN
2017-03-07  125000.0       NaN       NaN  NaN   NaN         NaN
2017-03-08  130000.0  126800.0       NaN  NaN   NaN         NaN
2017-03-09  127500.0  126500.0       NaN  NaN   NaN         NaN
2017-03-10  126500.0  126800.0       NaN  NaN   NaN         NaN
2017-03-13  131000.0  128000.0       NaN  NaN   NaN         NaN
2017-03-14  133500.0  129700.0       NaN  NaN   NaN         NaN
2017-03-15  135500.0  130800.0       NaN  NaN   NaN         NaN
2017-03-16  136000.0  132500.0       NaN  NaN   NaN         NaN
2017-03-17  136000.0  134400.0       NaN  NaN   NaN         NaN
2017-03-20  134000.0  135000.0       NaN  NaN   NaN         NaN
2017-03-21  134000.0  135100.0       NaN  NaN   NaN         NaN
2017-03-22  135000.0  135000.0       NaN  NaN   NaN         NaN
2017-03-23  135500.0  134900.0       NaN  NaN   NaN         NaN
2017-03-24  135500.0  134800.0       NaN  NaN   NaN         NaN
2017-03-27  134500.0  134900.0       NaN  NaN   NaN         NaN
2017-03-28  135500.0  135200.0       NaN  NaN   NaN         NaN
2017-03-29  139500.0  136100.0  132175.0  1.0   0.0  10000000.0
2017-03-30  136500.0  136300.0  132550.0  1.0  73.0     35500.0
2017-03-31  138000.0  136800.0  133200.0  1.0  73.0     35500.0
2017-04-03  138000.0  137500.0  133850.0  1.0  73.0     35500.0
2017-04-04  136500.0  137700.0  134425.0  1.0  73.0     35500.0
2017-04-05  138500.0  137500.0  134850.0  1.0  73.0     35500.0
2017-04-06  137500.0  137700.0  135350.0  1.0  73.0     35500.0
2017-04-07  137500.0  137600.0  135900.0  1.0  73.0     35500.0
2017-04-10  137500.0  137500.0  136225.0  1.0  73.0     35500.0
2017-04-11  136000.0  137400.0  136350.0  1.0  73.0     35500.0
2017-04-12  133000.0  136300.0  136225.0  1.0  73.0     35500.0
...              ...       ...       ...  ...   ...         ...
2019-01-15  236500.0  230600.0  216800.0  1.0  48.0     45000.0
2019-01-16  240000.0  233300.0  218525.0  1.0  48.0     45000.0
2019-01-17  232000.0  234300.0  219775.0  1.0  48.0     45000.0
2019-01-18  232500.0  234600.0  221275.0  1.0  48.0     45000.0
2019-01-21  236500.0  235500.0  222550.0  1.0  48.0     45000.0
2019-01-22  229000.0  234000.0  223500.0  1.0  48.0     45000.0
2019-01-23  230500.0  232100.0  223975.0  1.0  48.0     45000.0
2019-01-24  225500.0  230800.0  224325.0  1.0  48.0     45000.0
2019-01-25  232500.0  230800.0  225050.0  1.0  48.0     45000.0
2019-01-28  232000.0  229900.0  225625.0  1.0  48.0     45000.0
2019-01-29  229000.0  229900.0  226125.0  1.0  48.0     45000.0
2019-01-30  228000.0  229400.0  227000.0  1.0  48.0     45000.0
2019-01-31  223500.0  229000.0  228025.0  1.0  48.0     45000.0
2019-02-01  227000.0  227900.0  229325.0  2.0  48.0     45000.0
2019-02-07  240000.0  229500.0  230475.0  2.0   0.0  11565000.0
2019-02-08  238500.0  231400.0  231475.0  2.0   0.0  11565000.0
2019-02-11  236500.0  233100.0  231975.0  1.0   0.0  11565000.0
2019-02-12  236500.0  235700.0  232450.0  1.0  48.0    213000.0
2019-02-13  238500.0  238000.0  232825.0  1.0  48.0    213000.0
2019-02-14  240500.0  238100.0  233250.0  1.0  48.0    213000.0
2019-02-15  236000.0  237600.0  233225.0  1.0  48.0    213000.0
2019-02-18  245000.0  239300.0  233475.0  1.0  48.0    213000.0
2019-02-19  247500.0  241500.0  234250.0  1.0  48.0    213000.0
2019-02-20  248000.0  243400.0  235025.0  1.0  48.0    213000.0
2019-02-21  243500.0  244000.0  235375.0  1.0  48.0    213000.0
2019-02-22  241000.0  245000.0  235975.0  1.0  48.0    213000.0
2019-02-25  245500.0  245100.0  236725.0  1.0  48.0    213000.0
2019-02-26  240500.0  243700.0  237475.0  1.0  48.0    213000.0
2019-02-27  239000.0  241900.0  237800.0  1.0  48.0    213000.0
2019-02-28  237500.0  240700.0  238075.0  1.0  48.0    213000.0

[486 rows x 6 columns]

In [12]:
df.to_excel("빅금과제2.xlsx")