In [1]:
from urllib.request  import urlopen
import bs4
import datetime as dt
import pandas as pd
import re
from pandas import Series, DataFrame
import numpy as np

In [2]:
index_cd='KPI200'
page_n=1
naver_index='https://finance.naver.com/sise/sise_index_day.nhn?code=' +index_cd+'&page='+str(page_n)
from urllib.request import urlopen
source=urlopen(naver_index).read()
import bs4
source=bs4.BeautifulSoup(source,'lxml')
print(source.prettify())

<html lang="ko">
 <head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <title>
   네이버 금융
  </title>
  <link href="/css/newstock.css?20190411143845" rel="stylesheet" type="text/css"/>
  <link href="/css/common.css?20190411143845" rel="stylesheet" type="text/css"/>
  <link href="/css/layout.css?20190411143845" rel="stylesheet" type="text/css"/>
  <link href="/css/main.css?20190411143845" rel="stylesheet" type="text/css"/>
  <link href="/css/newstock2.css?20190411143845" rel="stylesheet" type="text/css"/>
  <link href="/css/newstock3.css?20190411143845" rel="stylesheet" type="text/css"/>
  <link href="/css/world.css?20190411143845" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <script src="/js/jindo.min.ns.1.5.3.euckr.js?20190411143845" type="text/javascript">
  </script>
  <script src="/js/lcslog.js?20190411143845" type="text/javascript">
  </script>
  <!-- 일별시세 -->
  <div class="box_type_m">
   <h4 class="top_tlt" style="text-align:left;">
    <em>
     일별
    </em>
    시세
   </h4>
   <table cellpadding="0" cellspacing="0" class="type_1" summary="일별 시세표:날짜에 따른 체결가 전일비 등락률 거래량 거래대금 정보를 제공합니다.">
    <caption>
     일별시세
    </caption>
    <col width="15%"/>
    <col width="14%"/>
    <col width="18%"/>
    <col width="14%"/>
    <col width="*"/>
    <col width="18%"/>
    <tr>
     <th>
      날짜
     </th>
     <th>
      체결가
     </th>
     <th>
      전일비
     </th>
     <th>
      등락률
     </th>
     <th>
      거래량
      <span class="add_txt">
       (천주)
      </span>
     </th>
     <th>
      거래대금
      <span class="add_txt">
       (백만)
      </span>
     </th>
    </tr>
    <tr>
     <td class="blank_07" colspan="6">
     </td>
    </tr>
    <tr>
     <td class="date">
      2019.05.24
     </td>
     <td class="number_1">
      264.42
     </td>
     <td class="rate_down" style="padding-right:35px;">
      <img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/>
      <span class="tah p11 nv01">
       1.96
      </span>
     </td>
     <td class="number_1">
      <span class="tah p11 nv01">
       -0.74%
      </span>
     </td>
     <td class="number_1" style="padding-right:40px;">
      67,233
     </td>
     <td class="number_1" style="padding-right:30px;">
      2,964,223
     </td>
    </tr>
    <tr>
     <td class="date">
      2019.05.23
     </td>
     <td class="number_1">
      266.38
     </td>
     <td class="rate_down" style="padding-right:35px;">
      <img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/>
      <span class="tah p11 nv01">
       0.27
      </span>
     </td>
     <td class="number_1">
      <span class="tah p11 nv01">
       -0.10%
      </span>
     </td>
     <td class="number_1" style="padding-right:40px;">
      70,855
     </td>
     <td class="number_1" style="padding-right:30px;">
      3,026,133
     </td>
    </tr>
    <tr>
     <td class="date">
      2019.05.22
     </td>
     <td class="number_1">
      266.65
     </td>
     <td class="rate_down" style="padding-right:35px;">
      <img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/>
      <span class="tah p11 red02">
       0.53
      </span>
     </td>
     <td class="number_1">
      <span class="tah p11 red01">
       +0.20%
      </span>
     </td>
     <td class="number_1" style="padding-right:40px;">
      60,373
     </td>
     <td class="number_1" style="padding-right:30px;">
      2,651,559
     </td>
    </tr>
    <tr>
     <td class="blank_08" colspan="6">
     </td>
    </tr>
    <tr>
     <td class="division_line" colspan="6">
     </td>
    </tr>
    <tr>
     <td class="blank_08" colspan="6">
     </td>
    </tr>
    <tr>
    </tr>
    <tr>
     <td class="date">
      2019.05.21
     </td>
     <td class="number_1">
      266.12
     </td>
     <td class="rate_down" style="padding-right:35px;">
      <img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/>
      <span class="tah p11 red02">
       1.16
      </span>
     </td>
     <td class="number_1">
      <span class="tah p11 red01">
       +0.44%
      </span>
     </td>
     <td class="number_1" style="padding-right:40px;">
      80,155
     </td>
     <td class="number_1" style="padding-right:30px;">
      3,470,439
     </td>
    </tr>
    <tr>
     <td class="date">
      2019.05.20
     </td>
     <td class="number_1">
      264.96
     </td>
     <td class="rate_down" style="padding-right:35px;">
      <img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/>
      <span class="tah p11 red02">
       0.61
      </span>
     </td>
     <td class="number_1">
      <span class="tah p11 red01">
       +0.23%
      </span>
     </td>
     <td class="number_1" style="padding-right:40px;">
      60,510
     </td>
     <td class="number_1" style="padding-right:30px;">
      2,715,547
     </td>
    </tr>
    <tr>
     <td class="date">
      2019.05.17
     </td>
     <td class="number_1">
      264.35
     </td>
     <td class="rate_down" style="padding-right:35px;">
      <img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/>
      <span class="tah p11 nv01">
       1.64
      </span>
     </td>
     <td class="number_1">
      <span class="tah p11 nv01">
       -0.62%
      </span>
     </td>
     <td class="number_1" style="padding-right:40px;">
      69,588
     </td>
     <td class="number_1" style="padding-right:30px;">
      2,939,752
     </td>
    </tr>
    <tr>
     <td class="blank_09" colspan="6">
     </td>
    </tr>
    <tr>
     <td class="division_line" colspan="6">
     </td>
    </tr>
   </table>
   <!--- 페이지 네비게이션 시작--->
   <table align="center" class="Nnavi" summary="페이지 네비게이션 리스트">
    <caption>
     페이지 네비게이션
    </caption>
    <tr>
     <td class="on">
      <a href="/sise/sise_index_day.nhn?code=KPI200&amp;page=1">
       1
      </a>
     </td>
     <td>
      <a href="/sise/sise_index_day.nhn?code=KPI200&amp;page=2">
       2
      </a>
     </td>
     <td>
      <a href="/sise/sise_index_day.nhn?code=KPI200&amp;page=3">
       3
      </a>
     </td>
     <td>
      <a href="/sise/sise_index_day.nhn?code=KPI200&amp;page=4">
       4
      </a>
     </td>
     <td>
      <a href="/sise/sise_index_day.nhn?code=KPI200&amp;page=5">
       5
      </a>
     </td>
     <td>
      <a href="/sise/sise_index_day.nhn?code=KPI200&amp;page=6">
       6
      </a>
     </td>
     <td>
      <a href="/sise/sise_index_day.nhn?code=KPI200&amp;page=7">
       7
      </a>
     </td>
     <td>
      <a href="/sise/sise_index_day.nhn?code=KPI200&amp;page=8">
       8
      </a>
     </td>
     <td>
      <a href="/sise/sise_index_day.nhn?code=KPI200&amp;page=9">
       9
      </a>
     </td>
     <td>
      <a href="/sise/sise_index_day.nhn?code=KPI200&amp;page=10">
       10
      </a>
     </td>
     <td class="pgR">
      <a href="/sise/sise_index_day.nhn?code=KPI200&amp;page=11">
       다음
       <img alt="" border="0" height="5" src="https://ssl.pstatic.net/static/n/cmn/bu_pgarR.gif" width="3"/>
      </a>
     </td>
     <td class="pgRR">
      <a href="/sise/sise_index_day.nhn?code=KPI200&amp;page=552">
       맨뒤
       <img alt="" border="0" height="5" src="https://ssl.pstatic.net/static/n/cmn/bu_pgarRR.gif" width="8"/>
      </a>
     </td>
    </tr>
   </table>
   <!--- 페이지 네비게이션 끝--->
  </div>
  <!-- //일별시세 -->
  <script type="text/javascript">
   ;(function(){
        var eventType = "onpageshow" in window ? "pageshow" : "load";
        jindo.$Fn(function(){
            lcs_do();
        }).attach(window, eventType);
    })();
  </script>
 </body>
</html>

In [3]:
d=source.find_all('td',class_='date')[0].text
d

'2019.05.24'

In [4]:
import datetime as dt

In [5]:
def date_format(d):
    d = str(d).replace('-','.')
    yyyy = int(d.split('.')[0])
    mm = int(d.split('.')[1])
    dd = int(d.split('.')[2])
    
    this_date = dt.date(yyyy,mm,dd)
    return this_date

In [6]:
this_close=source.find_all('tr')[2].find_all('td')[1].text
this_close=this_close.replace(',','')
this_close=float(this_close)
this_close

264.42

In [7]:
p=source.find_all('td',class_='number_1')[0].text
p

'264.42'

In [8]:
dates=source.find_all('td',class_='date')
prices=source.find_all('td',class_='number_1')

In [9]:
for n in range(len(dates)):
    this_date = dates[n].text
    this_date = date_format(this_date)
            
    this_close = prices[n*4].text
    this_close = this_close.replace(',','')
    this_close = float(this_close)
    this_close
    
    print(this_date,this_close)

2019-05-24 264.42
2019-05-23 266.38
2019-05-22 266.65
2019-05-21 266.12
2019-05-20 264.96
2019-05-17 264.35

In [10]:
def historical_index_naver(index_cd, start_date='', end_date='', page_n = 1, last_page = 0):
    
    if start_date:
        start_date = date_format(start_date)
    else:
        start_date = dt.date.today()
    if end_date:
        end_date = date_format(end_date)
    else:
        end_date = dt.date.today()
        
    naver_index = 'https://finance.naver.com/sise/sise_index_day.nhn?code=' + index_cd + '&page=' + str(page_n)
    source = bs4.BeautifulSoup(urlopen(naver_index).read(), 'lxml')
    dates=source.find_all('td',class_='date')
    prices=source.find_all('td',class_='number_1')
    
    for n in range(len(dates)):
        if dates[n].text.split('.')[0].isdigit():
            this_date = dates[n].text
            this_date = date_format(this_date)
            
            if this_date <= end_date and this_date >= start_date:
                this_close = prices[n*4].text
                this_close = this_close.replace(',','')
                this_close = float(this_close)
                historical_prices[this_date] = this_close
            elif this_date < start_date:
                return historical_prices
    if last_page == 0:
        last_page = source.find('td', class_='pgRR').find('a')['href']
        last_page = int(last_page.split('&')[1].split('=')[1])

    if page_n < last_page:
        page_n += 1
        historical_index_naver(index_cd, start_date, end_date, page_n, last_page)
        
    return historical_prices

In [11]:
index_cd='KPI200'
historical_prices=dict()
historical_index_naver(index_cd,'2017.03.01','2019.2.28')
historical_prices

{datetime.date(2019, 2, 28): 283.8,
 datetime.date(2019, 2, 27): 288.76,
 datetime.date(2019, 2, 26): 287.89,
 datetime.date(2019, 2, 25): 289.0,
 datetime.date(2019, 2, 22): 288.74,
 datetime.date(2019, 2, 21): 288.41,
 datetime.date(2019, 2, 20): 288.4,
 datetime.date(2019, 2, 19): 284.91,
 datetime.date(2019, 2, 18): 285.9,
 datetime.date(2019, 2, 15): 283.98,
 datetime.date(2019, 2, 14): 288.68,
 datetime.date(2019, 2, 13): 284.97,
 datetime.date(2019, 2, 12): 283.69,
 datetime.date(2019, 2, 11): 282.1,
 datetime.date(2019, 2, 8): 281.49,
 datetime.date(2019, 2, 7): 285.65,
 datetime.date(2019, 2, 1): 285.79,
 datetime.date(2019, 1, 31): 285.89,
 datetime.date(2019, 1, 30): 286.62,
 datetime.date(2019, 1, 29): 283.0,
 datetime.date(2019, 1, 28): 281.64,
 datetime.date(2019, 1, 25): 281.67,
 datetime.date(2019, 1, 24): 276.61,
 datetime.date(2019, 1, 23): 273.87,
 datetime.date(2019, 1, 22): 272.71,
 datetime.date(2019, 1, 21): 274.0,
 datetime.date(2019, 1, 18): 273.88,
 datetime.date(2019, 1, 17): 271.88,
 datetime.date(2019, 1, 16): 271.23,
 datetime.date(2019, 1, 15): 269.93,
 datetime.date(2019, 1, 14): 264.99,
 datetime.date(2019, 1, 11): 267.13,
 datetime.date(2019, 1, 10): 265.55,
 datetime.date(2019, 1, 9): 265.6,
 datetime.date(2019, 1, 8): 259.65,
 datetime.date(2019, 1, 7): 261.57,
 datetime.date(2019, 1, 4): 257.89,
 datetime.date(2019, 1, 3): 255.77,
 datetime.date(2019, 1, 2): 258.23,
 datetime.date(2018, 12, 28): 261.98,
 datetime.date(2018, 12, 27): 260.57,
 datetime.date(2018, 12, 26): 260.98,
 datetime.date(2018, 12, 24): 264.45,
 datetime.date(2018, 12, 21): 265.06,
 datetime.date(2018, 12, 20): 264.81,
 datetime.date(2018, 12, 19): 267.31,
 datetime.date(2018, 12, 18): 265.18,
 datetime.date(2018, 12, 17): 266.33,
 datetime.date(2018, 12, 14): 265.55,
 datetime.date(2018, 12, 13): 269.41,
 datetime.date(2018, 12, 12): 268.47,
 datetime.date(2018, 12, 11): 264.69,
 datetime.date(2018, 12, 10): 265.35,
 datetime.date(2018, 12, 7): 268.28,
 datetime.date(2018, 12, 6): 267.18,
 datetime.date(2018, 12, 5): 271.49,
 datetime.date(2018, 12, 4): 273.29,
 datetime.date(2018, 12, 3): 276.18,
 datetime.date(2018, 11, 30): 271.35,
 datetime.date(2018, 11, 29): 274.16,
 datetime.date(2018, 11, 28): 273.45,
 datetime.date(2018, 11, 27): 272.08,
 datetime.date(2018, 11, 26): 269.79,
 datetime.date(2018, 11, 23): 266.33,
 datetime.date(2018, 11, 22): 267.76,
 datetime.date(2018, 11, 21): 268.27,
 datetime.date(2018, 11, 20): 269.58,
 datetime.date(2018, 11, 19): 272.31,
 datetime.date(2018, 11, 16): 271.65,
 datetime.date(2018, 11, 15): 271.54,
 datetime.date(2018, 11, 14): 268.88,
 datetime.date(2018, 11, 13): 269.7,
 datetime.date(2018, 11, 12): 271.57,
 datetime.date(2018, 11, 9): 271.33,
 datetime.date(2018, 11, 8): 272.11,
 datetime.date(2018, 11, 7): 270.45,
 datetime.date(2018, 11, 6): 271.57,
 datetime.date(2018, 11, 5): 270.07,
 datetime.date(2018, 11, 2): 272.56,
 datetime.date(2018, 11, 1): 262.95,
 datetime.date(2018, 10, 31): 264.01,
 datetime.date(2018, 10, 30): 262.47,
 datetime.date(2018, 10, 29): 260.19,
 datetime.date(2018, 10, 26): 262.69,
 datetime.date(2018, 10, 25): 266.72,
 datetime.date(2018, 10, 24): 271.36,
 datetime.date(2018, 10, 23): 272.54,
 datetime.date(2018, 10, 22): 279.4,
 datetime.date(2018, 10, 19): 278.63,
 datetime.date(2018, 10, 18): 277.48,
 datetime.date(2018, 10, 17): 280.05,
 datetime.date(2018, 10, 16): 276.9,
 datetime.date(2018, 10, 15): 277.19,
 datetime.date(2018, 10, 12): 279.37,
 datetime.date(2018, 10, 11): 275.15,
 datetime.date(2018, 10, 10): 287.85,
 datetime.date(2018, 10, 8): 289.91,
 datetime.date(2018, 10, 5): 291.28,
 datetime.date(2018, 10, 4): 291.78,
 datetime.date(2018, 10, 2): 296.53,
 datetime.date(2018, 10, 1): 300.17,
 datetime.date(2018, 9, 28): 300.51,
 datetime.date(2018, 9, 27): 302.59,
 datetime.date(2018, 9, 21): 300.81,
 datetime.date(2018, 9, 20): 299.04,
 datetime.date(2018, 9, 19): 296.64,
 datetime.date(2018, 9, 18): 296.1,
 datetime.date(2018, 9, 17): 295.23,
 datetime.date(2018, 9, 14): 297.29,
 datetime.date(2018, 9, 13): 292.42,
 datetime.date(2018, 9, 12): 292.35,
 datetime.date(2018, 9, 11): 292.46,
 datetime.date(2018, 9, 10): 293.7,
 datetime.date(2018, 9, 7): 292.86,
 datetime.date(2018, 9, 6): 294.28,
 datetime.date(2018, 9, 5): 294.96,
 datetime.date(2018, 9, 4): 298.8,
 datetime.date(2018, 9, 3): 297.49,
 datetime.date(2018, 8, 31): 300.07,
 datetime.date(2018, 8, 30): 298.05,
 datetime.date(2018, 8, 29): 298.05,
 datetime.date(2018, 8, 28): 297.22,
 datetime.date(2018, 8, 27): 296.83,
 datetime.date(2018, 8, 24): 295.54,
 datetime.date(2018, 8, 23): 294.29,
 datetime.date(2018, 8, 22): 293.0,
 datetime.date(2018, 8, 21): 291.93,
 datetime.date(2018, 8, 20): 288.61,
 datetime.date(2018, 8, 17): 288.57,
 datetime.date(2018, 8, 16): 288.24,
 datetime.date(2018, 8, 14): 291.08,
 datetime.date(2018, 8, 13): 289.85,
 datetime.date(2018, 8, 10): 293.64,
 datetime.date(2018, 8, 9): 297.41,
 datetime.date(2018, 8, 8): 297.19,
 datetime.date(2018, 8, 7): 297.18,
 datetime.date(2018, 8, 6): 295.24,
 datetime.date(2018, 8, 3): 295.61,
 datetime.date(2018, 8, 2): 293.55,
 datetime.date(2018, 8, 1): 298.69,
 datetime.date(2018, 7, 31): 297.45,
 datetime.date(2018, 7, 30): 297.29,
 datetime.date(2018, 7, 27): 297.78,
 datetime.date(2018, 7, 26): 296.95,
 datetime.date(2018, 7, 25): 294.85,
 datetime.date(2018, 7, 24): 295.49,
 datetime.date(2018, 7, 23): 294.56,
 datetime.date(2018, 7, 20): 296.95,
 datetime.date(2018, 7, 19): 295.9,
 datetime.date(2018, 7, 18): 296.47,
 datetime.date(2018, 7, 17): 296.88,
 datetime.date(2018, 7, 16): 297.37,
 datetime.date(2018, 7, 13): 298.65,
 datetime.date(2018, 7, 12): 294.41,
 datetime.date(2018, 7, 11): 294.43,
 datetime.date(2018, 7, 10): 296.19,
 datetime.date(2018, 7, 9): 295.2,
 datetime.date(2018, 7, 6): 293.11,
 datetime.date(2018, 7, 5): 291.63,
 datetime.date(2018, 7, 4): 292.26,
 datetime.date(2018, 7, 3): 293.35,
 datetime.date(2018, 7, 2): 292.93,
 datetime.date(2018, 6, 29): 299.66,
 datetime.date(2018, 6, 28): 298.26,
 datetime.date(2018, 6, 27): 302.25,
 datetime.date(2018, 6, 26): 302.76,
 datetime.date(2018, 6, 25): 303.37,
 datetime.date(2018, 6, 22): 303.69,
 datetime.date(2018, 6, 21): 301.02,
 datetime.date(2018, 6, 20): 304.02,
 datetime.date(2018, 6, 19): 301.35,
 datetime.date(2018, 6, 18): 305.35,
 datetime.date(2018, 6, 15): 308.73,
 datetime.date(2018, 6, 14): 311.2,
 datetime.date(2018, 6, 12): 316.84,
 datetime.date(2018, 6, 11): 317.22,
 datetime.date(2018, 6, 8): 314.97,
 datetime.date(2018, 6, 7): 317.67,
 datetime.date(2018, 6, 5): 315.76,
 datetime.date(2018, 6, 4): 314.84,
 datetime.date(2018, 6, 1): 313.22,
 datetime.date(2018, 5, 31): 310.92,
 datetime.date(2018, 5, 30): 309.26,
 datetime.date(2018, 5, 29): 316.2,
 datetime.date(2018, 5, 28): 318.99,
 datetime.date(2018, 5, 25): 318.05,
 datetime.date(2018, 5, 24): 317.48,
 datetime.date(2018, 5, 23): 318.31,
 datetime.date(2018, 5, 21): 316.25,
 datetime.date(2018, 5, 18): 315.37,
 datetime.date(2018, 5, 17): 314.29,
 datetime.date(2018, 5, 16): 315.97,
 datetime.date(2018, 5, 15): 314.94,
 datetime.date(2018, 5, 14): 317.72,
 datetime.date(2018, 5, 11): 318.51,
 datetime.date(2018, 5, 10): 317.31,
 datetime.date(2018, 5, 9): 314.42,
 datetime.date(2018, 5, 8): 315.87,
 datetime.date(2018, 5, 4): 316.75,
 datetime.date(2018, 5, 3): 320.55,
 datetime.date(2018, 5, 2): 322.53,
 datetime.date(2018, 4, 30): 323.56,
 datetime.date(2018, 4, 27): 320.8,
 datetime.date(2018, 4, 26): 318.08,
 datetime.date(2018, 4, 25): 313.99,
 datetime.date(2018, 4, 24): 315.86,
 datetime.date(2018, 4, 23): 317.89,
 datetime.date(2018, 4, 20): 317.89,
 datetime.date(2018, 4, 19): 320.12,
 datetime.date(2018, 4, 18): 318.64,
 datetime.date(2018, 4, 17): 314.64,
 datetime.date(2018, 4, 16): 315.17,
 datetime.date(2018, 4, 13): 314.86,
 datetime.date(2018, 4, 12): 313.22,
 datetime.date(2018, 4, 11): 312.94,
 datetime.date(2018, 4, 10): 313.94,
 datetime.date(2018, 4, 9): 313.45,
 datetime.date(2018, 4, 6): 311.61,
 datetime.date(2018, 4, 5): 313.04,
 datetime.date(2018, 4, 4): 308.54,
 datetime.date(2018, 4, 3): 313.38,
 datetime.date(2018, 4, 2): 314.0,
 datetime.date(2018, 3, 30): 314.61,
 datetime.date(2018, 3, 29): 313.82,
 datetime.date(2018, 3, 28): 311.81,
 datetime.date(2018, 3, 27): 316.34,
 datetime.date(2018, 3, 26): 314.89,
 datetime.date(2018, 3, 23): 312.42,
 datetime.date(2018, 3, 22): 323.32,
 datetime.date(2018, 3, 21): 321.6,
 datetime.date(2018, 3, 20): 321.79,
 datetime.date(2018, 3, 19): 320.35,
 datetime.date(2018, 3, 16): 322.88,
 datetime.date(2018, 3, 15): 322.74,
 datetime.date(2018, 3, 14): 321.99,
 datetime.date(2018, 3, 13): 322.98,
 datetime.date(2018, 3, 12): 320.7,
 datetime.date(2018, 3, 9): 317.67,
 datetime.date(2018, 3, 8): 314.78,
 datetime.date(2018, 3, 7): 311.14,
 datetime.date(2018, 3, 6): 310.46,
 datetime.date(2018, 3, 5): 304.58,
 datetime.date(2018, 3, 2): 308.35,
 datetime.date(2018, 2, 28): 312.86,
 datetime.date(2018, 2, 27): 316.83,
 datetime.date(2018, 2, 26): 317.34,
 datetime.date(2018, 2, 23): 316.81,
 datetime.date(2018, 2, 22): 312.17,
 datetime.date(2018, 2, 21): 314.47,
 datetime.date(2018, 2, 20): 312.83,
 datetime.date(2018, 2, 19): 316.61,
 datetime.date(2018, 2, 14): 314.4,
 datetime.date(2018, 2, 13): 310.87,
 datetime.date(2018, 2, 12): 308.13,
 datetime.date(2018, 2, 9): 304.83,
 datetime.date(2018, 2, 8): 311.62,
 datetime.date(2018, 2, 7): 310.48,
 datetime.date(2018, 2, 6): 318.01,
 datetime.date(2018, 2, 5): 323.29,
 datetime.date(2018, 2, 2): 327.01,
 datetime.date(2018, 2, 1): 333.36,
 datetime.date(2018, 1, 31): 333.38,
 datetime.date(2018, 1, 30): 333.4,
 datetime.date(2018, 1, 29): 338.05,
 datetime.date(2018, 1, 26): 335.38,
 datetime.date(2018, 1, 25): 334.08,
 datetime.date(2018, 1, 24): 330.91,
 datetime.date(2018, 1, 23): 330.93,
 datetime.date(2018, 1, 22): 326.27,
 datetime.date(2018, 1, 19): 329.52,
 datetime.date(2018, 1, 18): 329.13,
 datetime.date(2018, 1, 17): 329.19,
 datetime.date(2018, 1, 16): 330.02,
 datetime.date(2018, 1, 15): 327.39,
 datetime.date(2018, 1, 12): 326.72,
 datetime.date(2018, 1, 11): 325.67,
 datetime.date(2018, 1, 10): 327.61,
 datetime.date(2018, 1, 9): 330.25,
 datetime.date(2018, 1, 8): 331.28,
 datetime.date(2018, 1, 5): 328.97,
 datetime.date(2018, 1, 4): 324.58,
 datetime.date(2018, 1, 3): 327.13,
 datetime.date(2018, 1, 2): 326.0,
 datetime.date(2017, 12, 28): 324.74,
 datetime.date(2017, 12, 27): 320.25,
 datetime.date(2017, 12, 26): 318.89,
 datetime.date(2017, 12, 22): 321.21,
 datetime.date(2017, 12, 21): 319.72,
 datetime.date(2017, 12, 20): 325.79,
 datetime.date(2017, 12, 19): 326.76,
 datetime.date(2017, 12, 18): 326.6,
 datetime.date(2017, 12, 15): 326.23,
 datetime.date(2017, 12, 14): 324.74,
 datetime.date(2017, 12, 13): 326.18,
 datetime.date(2017, 12, 12): 324.07,
 datetime.date(2017, 12, 11): 325.09,
 datetime.date(2017, 12, 8): 324.68,
 datetime.date(2017, 12, 7): 323.59,
 datetime.date(2017, 12, 6): 324.52,
 datetime.date(2017, 12, 5): 329.61,
 datetime.date(2017, 12, 4): 328.77,
 datetime.date(2017, 12, 1): 324.78,
 datetime.date(2017, 11, 30): 325.25,
 datetime.date(2017, 11, 29): 330.68,
 datetime.date(2017, 11, 28): 330.99,
 datetime.date(2017, 11, 27): 329.53,
 datetime.date(2017, 11, 24): 335.44,
 datetime.date(2017, 11, 23): 334.51,
 datetime.date(2017, 11, 22): 335.49,
 datetime.date(2017, 11, 21): 333.51,
 datetime.date(2017, 11, 20): 332.92,
 datetime.date(2017, 11, 17): 334.18,
 datetime.date(2017, 11, 16): 334.36,
 datetime.date(2017, 11, 15): 332.17,
 datetime.date(2017, 11, 14): 333.62,
 datetime.date(2017, 11, 13): 334.33,
 datetime.date(2017, 11, 10): 335.96,
 datetime.date(2017, 11, 9): 337.14,
 datetime.date(2017, 11, 8): 337.8,
 datetime.date(2017, 11, 7): 336.76,
 datetime.date(2017, 11, 6): 337.4,
 datetime.date(2017, 11, 3): 338.83,
 datetime.date(2017, 11, 2): 337.53,
 datetime.date(2017, 11, 1): 338.76,
 datetime.date(2017, 10, 31): 333.57,
 datetime.date(2017, 10, 30): 330.38,
 datetime.date(2017, 10, 27): 329.23,
 datetime.date(2017, 10, 26): 326.99,
 datetime.date(2017, 10, 25): 329.31,
 datetime.date(2017, 10, 24): 328.96,
 datetime.date(2017, 10, 23): 329.45,
 datetime.date(2017, 10, 20): 328.89,
 datetime.date(2017, 10, 19): 326.47,
 datetime.date(2017, 10, 18): 328.4,
 datetime.date(2017, 10, 17): 328.51,
 datetime.date(2017, 10, 16): 327.82,
 datetime.date(2017, 10, 13): 327.35,
 datetime.date(2017, 10, 12): 328.11,
 datetime.date(2017, 10, 11): 326.12,
 datetime.date(2017, 10, 10): 322.49,
 datetime.date(2017, 9, 29): 316.27,
 datetime.date(2017, 9, 28): 313.85,
 datetime.date(2017, 9, 27): 313.82,
 datetime.date(2017, 9, 26): 314.29,
 datetime.date(2017, 9, 25): 316.4,
 datetime.date(2017, 9, 22): 316.71,
 datetime.date(2017, 9, 21): 318.25,
 datetime.date(2017, 9, 20): 318.48,
 datetime.date(2017, 9, 19): 318.51,
 datetime.date(2017, 9, 18): 318.93,
 datetime.date(2017, 9, 15): 313.69,
 datetime.date(2017, 9, 14): 312.52,
 datetime.date(2017, 9, 13): 310.0,
 datetime.date(2017, 9, 12): 310.42,
 datetime.date(2017, 9, 11): 309.83,
 datetime.date(2017, 9, 8): 307.43,
 datetime.date(2017, 9, 7): 306.97,
 datetime.date(2017, 9, 6): 303.18,
 datetime.date(2017, 9, 5): 304.06,
 datetime.date(2017, 9, 4): 304.19,
 datetime.date(2017, 9, 1): 307.78,
 datetime.date(2017, 8, 31): 308.28,
 datetime.date(2017, 8, 30): 309.65,
 datetime.date(2017, 8, 29): 308.64,
 datetime.date(2017, 8, 28): 309.53,
 datetime.date(2017, 8, 25): 311.21,
 datetime.date(2017, 8, 24): 310.73,
 datetime.date(2017, 8, 23): 309.71,
 datetime.date(2017, 8, 22): 309.34,
 datetime.date(2017, 8, 21): 308.14,
 datetime.date(2017, 8, 18): 308.39,
 datetime.date(2017, 8, 17): 309.02,
 datetime.date(2017, 8, 16): 307.16,
 datetime.date(2017, 8, 14): 304.93,
 datetime.date(2017, 8, 11): 302.72,
 datetime.date(2017, 8, 10): 308.37,
 datetime.date(2017, 8, 9): 309.52,
 datetime.date(2017, 8, 8): 313.4,
 datetime.date(2017, 8, 7): 313.96,
 datetime.date(2017, 8, 4): 313.46,
 datetime.date(2017, 8, 3): 312.29,
 datetime.date(2017, 8, 2): 317.69,
 datetime.date(2017, 8, 1): 317.04,
 datetime.date(2017, 7, 31): 314.6,
 datetime.date(2017, 7, 28): 314.13,
 datetime.date(2017, 7, 27): 320.51,
 datetime.date(2017, 7, 26): 319.46,
 datetime.date(2017, 7, 25): 320.15,
 datetime.date(2017, 7, 24): 322.01,
 datetime.date(2017, 7, 21): 321.79,
 datetime.date(2017, 7, 20): 320.61,
 datetime.date(2017, 7, 19): 318.91,
 datetime.date(2017, 7, 18): 318.65,
 datetime.date(2017, 7, 17): 318.52,
 datetime.date(2017, 7, 14): 317.35,
 datetime.date(2017, 7, 13): 316.35,
 datetime.date(2017, 7, 12): 313.58,
 datetime.date(2017, 7, 11): 313.59,
 datetime.date(2017, 7, 10): 311.46,
 datetime.date(2017, 7, 7): 310.66,
 datetime.date(2017, 7, 6): 311.88,
 datetime.date(2017, 7, 5): 311.77,
 datetime.date(2017, 7, 4): 310.46,
 datetime.date(2017, 7, 3): 312.39,
 datetime.date(2017, 6, 30): 311.76,
 datetime.date(2017, 6, 29): 312.56,
 datetime.date(2017, 6, 28): 310.84,
 datetime.date(2017, 6, 27): 312.12,
 datetime.date(2017, 6, 26): 311.89,
 datetime.date(2017, 6, 23): 310.26,
 datetime.date(2017, 6, 22): 309.47,
 datetime.date(2017, 6, 21): 307.52,
 datetime.date(2017, 6, 20): 309.31,
 datetime.date(2017, 6, 19): 308.61,
 datetime.date(2017, 6, 16): 306.79,
 datetime.date(2017, 6, 15): 306.69,
 datetime.date(2017, 6, 14): 307.95,
 datetime.date(2017, 6, 13): 308.02,
 datetime.date(2017, 6, 12): 306.24,
 datetime.date(2017, 6, 9): 309.38,
 datetime.date(2017, 6, 8): 306.25,
 datetime.date(2017, 6, 7): 305.68,
 datetime.date(2017, 6, 5): 307.33,
 datetime.date(2017, 6, 2): 307.83,
 datetime.date(2017, 6, 1): 304.03,
 datetime.date(2017, 5, 31): 304.67,
 datetime.date(2017, 5, 30): 304.59,
 datetime.date(2017, 5, 29): 306.52,
 datetime.date(2017, 5, 26): 306.96,
 datetime.date(2017, 5, 25): 305.22,
 datetime.date(2017, 5, 24): 301.71,
 datetime.date(2017, 5, 23): 301.36,
 datetime.date(2017, 5, 22): 300.63,
 datetime.date(2017, 5, 19): 298.08,
 datetime.date(2017, 5, 18): 298.47,
 datetime.date(2017, 5, 17): 299.34,
 datetime.date(2017, 5, 16): 299.67,
 datetime.date(2017, 5, 15): 298.87,
 datetime.date(2017, 5, 12): 298.25,
 datetime.date(2017, 5, 11): 299.75,
 datetime.date(2017, 5, 10): 296.19,
 datetime.date(2017, 5, 8): 299.86,
 datetime.date(2017, 5, 4): 292.47,
 datetime.date(2017, 5, 2): 289.65,
 datetime.date(2017, 4, 28): 287.21,
 datetime.date(2017, 4, 27): 287.34,
 datetime.date(2017, 4, 26): 286.78,
 datetime.date(2017, 4, 25): 285.41,
 datetime.date(2017, 4, 24): 281.96,
 datetime.date(2017, 4, 21): 280.05,
 datetime.date(2017, 4, 20): 277.76,
 datetime.date(2017, 4, 19): 276.49,
 datetime.date(2017, 4, 18): 278.23,
 datetime.date(2017, 4, 17): 278.1,
 datetime.date(2017, 4, 14): 277.31,
 datetime.date(2017, 4, 13): 279.12,
 datetime.date(2017, 4, 12): 276.21,
 datetime.date(2017, 4, 11): 275.49,
 datetime.date(2017, 4, 10): 277.21,
 datetime.date(2017, 4, 7): 279.01,
 datetime.date(2017, 4, 6): 279.47,
 datetime.date(2017, 4, 5): 280.74,
 datetime.date(2017, 4, 4): 280.92,
 datetime.date(2017, 4, 3): 281.6,
 datetime.date(2017, 3, 31): 280.64,
 datetime.date(2017, 3, 30): 281.66,
 datetime.date(2017, 3, 29): 281.86,
 datetime.date(2017, 3, 28): 281.25,
 datetime.date(2017, 3, 27): 280.36,
 datetime.date(2017, 3, 24): 282.31,
 datetime.date(2017, 3, 23): 282.81,
 datetime.date(2017, 3, 22): 282.63,
 datetime.date(2017, 3, 21): 283.84,
 datetime.date(2017, 3, 20): 280.75,
 datetime.date(2017, 3, 17): 281.86,
 datetime.date(2017, 3, 16): 280.11,
 datetime.date(2017, 3, 15): 277.89,
 datetime.date(2017, 3, 14): 277.89,
 datetime.date(2017, 3, 13): 275.41,
 datetime.date(2017, 3, 10): 272.29,
 datetime.date(2017, 3, 9): 271.62,
 datetime.date(2017, 3, 8): 272.29,
 datetime.date(2017, 3, 7): 271.87,
 datetime.date(2017, 3, 6): 270.41,
 datetime.date(2017, 3, 3): 269.77,
 datetime.date(2017, 3, 2): 272.65}

In [12]:
#KOSPI200 일별시세

In [13]:
prices={'kospi200':historical_prices}
kospi200=pd.DataFrame(prices)

In [14]:
future=pd.read_excel("C:/future.xlsx")
future=future[["날짜","현재가"]]
future=future.set_index("날짜")
future=future['2017.03.01':'2019.02.28']

In [15]:
kospi200.sort_index(ascending=True)

            kospi200
2017-03-02    272.65
2017-03-03    269.77
2017-03-06    270.41
2017-03-07    271.87
2017-03-08    272.29
2017-03-09    271.62
2017-03-10    272.29
2017-03-13    275.41
2017-03-14    277.89
2017-03-15    277.89
2017-03-16    280.11
2017-03-17    281.86
2017-03-20    280.75
2017-03-21    283.84
2017-03-22    282.63
2017-03-23    282.81
2017-03-24    282.31
2017-03-27    280.36
2017-03-28    281.25
2017-03-29    281.86
2017-03-30    281.66
2017-03-31    280.64
2017-04-03    281.60
2017-04-04    280.92
2017-04-05    280.74
2017-04-06    279.47
2017-04-07    279.01
2017-04-10    277.21
2017-04-11    275.49
2017-04-12    276.21
...              ...
2019-01-15    269.93
2019-01-16    271.23
2019-01-17    271.88
2019-01-18    273.88
2019-01-21    274.00
2019-01-22    272.71
2019-01-23    273.87
2019-01-24    276.61
2019-01-25    281.67
2019-01-28    281.64
2019-01-29    283.00
2019-01-30    286.62
2019-01-31    285.89
2019-02-01    285.79
2019-02-07    285.65
2019-02-08    281.49
2019-02-11    282.10
2019-02-12    283.69
2019-02-13    284.97
2019-02-14    288.68
2019-02-15    283.98
2019-02-18    285.90
2019-02-19    284.91
2019-02-20    288.40
2019-02-21    288.41
2019-02-22    288.74
2019-02-25    289.00
2019-02-26    287.89
2019-02-27    288.76
2019-02-28    283.80

[486 rows x 1 columns]

In [16]:
a=pd.concat([kospi200,future],axis=1)
a

            kospi200    현재가
날짜
2017-03-02    272.65  272.7
2017-03-03    269.77  269.6
2017-03-06    270.41  270.2
2017-03-07    271.87  271.6
2017-03-08    272.29  272.2
2017-03-09    271.62  271.6
2017-03-10    272.29  272.6
2017-03-13    275.41  275.8
2017-03-14    277.89  278.0
2017-03-15    277.89  278.6
2017-03-16    280.11  280.3
2017-03-17    281.86  281.4
2017-03-20    280.75  281.5
2017-03-21    283.84  284.1
2017-03-22    282.63  282.6
2017-03-23    282.81  283.2
2017-03-24    282.31  282.9
2017-03-27    280.36  280.8
2017-03-28    281.25  281.6
2017-03-29    281.86  282.2
2017-03-30    281.66  282.1
2017-03-31    280.64  281.7
2017-04-03    281.60  282.0
2017-04-04    280.92  281.4
2017-04-05    280.74  280.9
2017-04-06    279.47  280.0
2017-04-07    279.01  279.4
2017-04-10    277.21  277.8
2017-04-11    275.49  276.0
2017-04-12    276.21  277.1
...              ...    ...
2019-01-15    269.93  270.9
2019-01-16    271.23  272.1
2019-01-17    271.88  272.4
2019-01-18    273.88  274.8
2019-01-21    274.00  274.8
2019-01-22    272.71  273.1
2019-01-23    273.87  274.8
2019-01-24    276.61  277.1
2019-01-25    281.67  282.4
2019-01-28    281.64  282.1
2019-01-29    283.00  283.6
2019-01-30    286.62  287.6
2019-01-31    285.89  286.9
2019-02-01    285.79  286.3
2019-02-07    285.65  286.0
2019-02-08    281.49  281.9
2019-02-11    282.10  282.6
2019-02-12    283.69  284.3
2019-02-13    284.97  285.7
2019-02-14    288.68  288.4
2019-02-15    283.98  284.1
2019-02-18    285.90  286.8
2019-02-19    284.91  285.6
2019-02-20    288.40  288.4
2019-02-21    288.41  288.6
2019-02-22    288.74  288.8
2019-02-25    289.00  289.6
2019-02-26    287.89  287.8
2019-02-27    288.76  288.4
2019-02-28    283.80  283.9

[486 rows x 2 columns]

In [17]:
a.index=pd.to_datetime(a.index)

In [18]:
a["maturity"]='missing'

In [19]:
thur=['2017-03-09','2017-06-08','2017-09-14','2017-12-14','2018-03-08','2018-06-14','2018-09-13','2018-12-13','2019-03-14']
for i in range(len(a)):
    for n in range(0,8):
        if a.index[i].date()<=date_format(thur[0]):
            a["maturity"][i]=thur[0]
        elif a.index[i].date()>date_format(thur[n]) and a.index[i].date()<=date_format(thur[n+1]):
            a["maturity"][i]=thur[n+1]

C:\Users\van\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\van\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [20]:
#36912 둘째주목요일
#이자율 2.25% 배당률 1.50%

def futures_price(S,r,d,T,t0):
    t=np.busday_count(t0.date(),T.date())/252
    F=S*np.exp((r-d)*t)
    return F

In [21]:
thur={'2017-03-09','2017-06-08','2017-09-14','2017-12-14','2018-03-08','2018-06-14','2018-09-13','2018-12-13','2019-03-14'}


r=0.0225
d=0.015
for n in (a.index):
    T=pd.to_datetime(a['maturity'][n])
    t0=n
    S=a.loc[n,'kospi200']
    F=futures_price(S,r,d,T,t0)
    f='{:,.2f}'.format(F)
    a.loc[n,'이론가']=f

In [22]:
a

            kospi200    현재가    maturity     이론가
날짜
2017-03-02    272.65  272.7  2017-03-09  272.69
2017-03-03    269.77  269.6  2017-03-09  269.80
2017-03-06    270.41  270.2  2017-03-09  270.43
2017-03-07    271.87  271.6  2017-03-09  271.89
2017-03-08    272.29  272.2  2017-03-09  272.30
2017-03-09    271.62  271.6  2017-03-09  271.62
2017-03-10    272.29  272.6  2017-06-08  272.81
2017-03-13    275.41  275.8  2017-06-08  275.93
2017-03-14    277.89  278.0  2017-06-08  278.40
2017-03-15    277.89  278.6  2017-06-08  278.39
2017-03-16    280.11  280.3  2017-06-08  280.61
2017-03-17    281.86  281.4  2017-06-08  282.36
2017-03-20    280.75  281.5  2017-06-08  281.24
2017-03-21    283.84  284.1  2017-06-08  284.32
2017-03-22    282.63  282.6  2017-06-08  283.10
2017-03-23    282.81  283.2  2017-06-08  283.27
2017-03-24    282.31  282.9  2017-06-08  282.76
2017-03-27    280.36  280.8  2017-06-08  280.80
2017-03-28    281.25  281.6  2017-06-08  281.69
2017-03-29    281.86  282.2  2017-06-08  282.29
2017-03-30    281.66  282.1  2017-06-08  282.08
2017-03-31    280.64  281.7  2017-06-08  281.05
2017-04-03    281.60  282.0  2017-06-08  282.00
2017-04-04    280.92  281.4  2017-06-08  281.31
2017-04-05    280.74  280.9  2017-06-08  281.12
2017-04-06    279.47  280.0  2017-06-08  279.84
2017-04-07    279.01  279.4  2017-06-08  279.38
2017-04-10    277.21  277.8  2017-06-08  277.56
2017-04-11    275.49  276.0  2017-06-08  275.83
2017-04-12    276.21  277.1  2017-06-08  276.55
...              ...    ...         ...     ...
2019-01-15    269.93  270.9  2019-03-14  270.27
2019-01-16    271.23  272.1  2019-03-14  271.56
2019-01-17    271.88  272.4  2019-03-14  272.20
2019-01-18    273.88  274.8  2019-03-14  274.20
2019-01-21    274.00  274.8  2019-03-14  274.31
2019-01-22    272.71  273.1  2019-03-14  273.01
2019-01-23    273.87  274.8  2019-03-14  274.16
2019-01-24    276.61  277.1  2019-03-14  276.90
2019-01-25    281.67  282.4  2019-03-14  281.96
2019-01-28    281.64  282.1  2019-03-14  281.92
2019-01-29    283.00  283.6  2019-03-14  283.27
2019-01-30    286.62  287.6  2019-03-14  286.88
2019-01-31    285.89  286.9  2019-03-14  286.15
2019-02-01    285.79  286.3  2019-03-14  286.04
2019-02-07    285.65  286.0  2019-03-14  285.86
2019-02-08    281.49  281.9  2019-03-14  281.69
2019-02-11    282.10  282.6  2019-03-14  282.29
2019-02-12    283.69  284.3  2019-03-14  283.88
2019-02-13    284.97  285.7  2019-03-14  285.15
2019-02-14    288.68  288.4  2019-03-14  288.85
2019-02-15    283.98  284.1  2019-03-14  284.14
2019-02-18    285.90  286.8  2019-03-14  286.05
2019-02-19    284.91  285.6  2019-03-14  285.05
2019-02-20    288.40  288.4  2019-03-14  288.54
2019-02-21    288.41  288.6  2019-03-14  288.54
2019-02-22    288.74  288.8  2019-03-14  288.86
2019-02-25    289.00  289.6  2019-03-14  289.11
2019-02-26    287.89  287.8  2019-03-14  287.99
2019-02-27    288.76  288.4  2019-03-14  288.85
2019-02-28    283.80  283.9  2019-03-14  283.88

[486 rows x 4 columns]

In [23]:
a["basis"]='missing'

In [24]:
for i in range(len(a)):
    a['basis'][i]=round((a['현재가'][i]-a['kospi200'][i]),2)

C:\Users\van\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [25]:
a["이론가-현재가"]='missing'
for i in range(len(a)):
    a['이론가-현재가'][i]=round((float(a['이론가'][i])-a['현재가'][i]),2)

C:\Users\van\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [26]:
#basis로 계산
margin=0.0
overlap=False
a['margin']=0.0
for i in range(len(a['basis'])):
    if a['basis'][i]>-0.2 and a['basis'][i]<=0.7:
        a['margin'][i]=margin
        continue
    elif a['basis'][i]<=-0.2 and overlap==False:
        margin=margin-a['basis'][i]
        a['margin'][i]=margin
        overlap=True
    elif a['basis'][i]<=-0.2 and overlap==True:
        a['margin'][i]=margin
        continue
    elif a['basis'][i]>0.7 and overlap==True:
        margin=margin+a['basis'][i]
        a['margin'][i]=margin
        overlap=False
    elif a['basis'][i]>0.7 and overlap==False:
        a['margin'][i]=margin
        continue
a['margin'][-1]=a['margin'][-2]+a['basis'][-1]

C:\Users\van\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\Users\van\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\van\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\van\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\van\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\van\Anaconda3\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [27]:
overlap1=False
a['선물매수현물매도']=0.0
a['선물매도현물매수']=0.0
for i in range(len(a['basis'])):
    if a['basis'][i]>-0.2 and a['basis'][i]<=0.7:
        continue
    elif a['basis'][i]<=-0.2 and overlap1==False:
        a['선물매수현물매도'][i]=1
        overlap1=True
        continue
    elif a['basis'][i]<=-0.2 and overlap1==True:
        continue
    elif a['basis'][i]>0.7 and overlap1==True:
        a['선물매도현물매수'][i]=2
        overlap1=False
        continue
    elif a['basis'][i]>0.7 and overlap1==False:
        continue

C:\Users\van\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\van\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [28]:
a

,kospi200,현재가,maturity,이론가,basis,이론가-현재가,margin,선물매수현물매도,선물매도현물매수
날짜,,,,,,,,,
2017-03-02,272.65,272.7,2017-03-09,272.69,0.05,-0.01,0.00,0.0,0.0
2017-03-03,269.77,269.6,2017-03-09,269.80,-0.17,0.2,0.00,0.0,0.0
2017-03-06,270.41,270.2,2017-03-09,270.43,-0.21,0.23,0.21,1.0,0.0
2017-03-07,271.87,271.6,2017-03-09,271.89,-0.27,0.29,0.21,0.0,0.0
2017-03-08,272.29,272.2,2017-03-09,272.30,-0.09,0.1,0.21,0.0,0.0
2017-03-09,271.62,271.6,2017-03-09,271.62,-0.02,0.02,0.21,0.0,0.0
2017-03-10,272.29,272.6,2017-06-08,272.81,0.31,0.21,0.21,0.0,0.0
2017-03-13,275.41,275.8,2017-06-08,275.93,0.39,0.13,0.21,0.0,0.0
2017-03-14,277.89,278.0,2017-06-08,278.40,0.11,0.4,0.21,0.0,0.0
2017-03-15,277.89,278.6,2017-06-08,278.39,0.71,-0.21,0.92,0.0,2.0
2017-03-16,280.11,280.3,2017-06-08,280.61,0.19,0.31,0.92,0.0,0.0
2017-03-17,281.86,281.4,2017-06-08,282.36,-0.46,0.96,1.38,1.0,0.0
2017-03-20,280.75,281.5,2017-06-08,281.24,0.75,-0.26,2.13,0.0,2.0
2017-03-21,283.84,284.1,2017-06-08,284.32,0.26,0.22,2.13,0.0,0.0
2017-03-22,282.63,282.6,2017-06-08,283.10,-0.03,0.5,2.13,0.0,0.0
2017-03-23,282.81,283.2,2017-06-08,283.27,0.39,0.07,2.13,0.0,0.0
2017-03-24,282.31,282.9,2017-06-08,282.76,0.59,-0.14,2.13,0.0,0.0
2017-03-27,280.36,280.8,2017-06-08,280.80,0.44,0,2.13,0.0,0.0
2017-03-28,281.25,281.6,2017-06-08,281.69,0.35,0.09,2.13,0.0,0.0
2017-03-29,281.86,282.2,2017-06-08,282.29,0.34,0.09,2.13,0.0,0.0
2017-03-30,281.66,282.1,2017-06-08,282.08,0.44,-0.02,2.13,0.0,0.0
2017-03-31,280.64,281.7,2017-06-08,281.05,1.06,-0.65,2.13,0.0,0.0
2017-04-03,281.60,282.0,2017-06-08,282.00,0.4,0,2.13,0.0,0.0
2017-04-04,280.92,281.4,2017-06-08,281.31,0.48,-0.09,2.13,0.0,0.0
2017-04-05,280.74,280.9,2017-06-08,281.12,0.16,0.22,2.13,0.0,0.0
2017-04-06,279.47,280.0,2017-06-08,279.84,0.53,-0.16,2.13,0.0,0.0
2017-04-07,279.01,279.4,2017-06-08,279.38,0.39,-0.02,2.13,0.0,0.0
2017-04-10,277.21,277.8,2017-06-08,277.56,0.59,-0.24,2.13,0.0,0.0
2017-04-11,275.49,276.0,2017-06-08,275.83,0.51,-0.17,2.13,0.0,0.0
2017-04-12,276.21,277.1,2017-06-08,276.55,0.89,-0.55,2.13,0.0,0.0
...,...,...,...,...,...,...,...,...,...
2019-01-15,269.93,270.9,2019-03-14,270.27,0.97,-0.63,22.71,0.0,0.0
2019-01-16,271.23,272.1,2019-03-14,271.56,0.87,-0.54,22.71,0.0,0.0
2019-01-17,271.88,272.4,2019-03-14,272.20,0.52,-0.2,22.71,0.0,0.0
2019-01-18,273.88,274.8,2019-03-14,274.20,0.92,-0.6,22.71,0.0,0.0
2019-01-21,274.00,274.8,2019-03-14,274.31,0.8,-0.49,22.71,0.0,0.0
2019-01-22,272.71,273.1,2019-03-14,273.01,0.39,-0.09,22.71,0.0,0.0
2019-01-23,273.87,274.8,2019-03-14,274.16,0.93,-0.64,22.71,0.0,0.0
2019-01-24,276.61,277.1,2019-03-14,276.90,0.49,-0.2,22.71,0.0,0.0
2019-01-25,281.67,282.4,2019-03-14,281.96,0.73,-0.44,22.71,0.0,0.0
2019-01-28,281.64,282.1,2019-03-14,281.92,0.46,-0.18,22.71,0.0,0.0
2019-01-29,283.00,283.6,2019-03-14,283.27,0.6,-0.33,22.71,0.0,0.0
2019-01-30,286.62,287.6,2019-03-14,286.88,0.98,-0.72,22.71,0.0,0.0
2019-01-31,285.89,286.9,2019-03-14,286.15,1.01,-0.75,22.71,0.0,0.0
2019-02-01,285.79,286.3,2019-03-14,286.04,0.51,-0.26,22.71,0.0,0.0
2019-02-07,285.65,286.0,2019-03-14,285.86,0.35,-0.14,22.71,0.0,0.0
2019-02-08,281.49,281.9,2019-03-14,281.69,0.41,-0.21,22.71,0.0,0.0
2019-02-11,282.10,282.6,2019-03-14,282.29,0.5,-0.31,22.71,0.0,0.0
2019-02-12,283.69,284.3,2019-03-14,283.88,0.61,-0.42,22.71,0.0,0.0
2019-02-13,284.97,285.7,2019-03-14,285.15,0.73,-0.55,22.71,0.0,0.0
2019-02-14,288.68,288.4,2019-03-14,288.85,-0.28,0.45,22.99,1.0,0.0
2019-02-15,283.98,284.1,2019-03-14,284.14,0.12,0.04,22.99,0.0,0.0
2019-02-18,285.90,286.8,2019-03-14,286.05,0.9,-0.75,23.89,0.0,2.0
2019-02-19,284.91,285.6,2019-03-14,285.05,0.69,-0.55,23.89,0.0,0.0
2019-02-20,288.40,288.4,2019-03-14,288.54,0,0.14,23.89,0.0,0.0
2019-02-21,288.41,288.6,2019-03-14,288.54,0.19,-0.06,23.89,0.0,0.0
2019-02-22,288.74,288.8,2019-03-14,288.86,0.06,0.06,23.89,0.0,0.0
2019-02-25,289.00,289.6,2019-03-14,289.11,0.6,-0.49,23.89,0.0,0.0
2019-02-26,287.89,287.8,2019-03-14,287.99,-0.09,0.19,23.89,0.0,0.0
2019-02-27,288.76,288.4,2019-03-14,288.85,-0.36,0.45,24.25,1.0,0.0
2019-02-28,283.80,283.9,2019-03-14,283.88,0.1,-0.02,24.35,0.0,0.0

In [29]:
차익거래수익=a['margin'][-1]
차익거래수익*250000

6087499.999999999

In [30]:
a.to_excel("basis.xlsx")